body {
	
}
.grid_item {
	background: #404850;
	height: 70px;
	padding: 15px;
	border: 1px solid white;
	text-align: center;
}
.logo {
	height: 130px;
}
.logo p {
	text-align: center;
	color: #fff;
}
.nav_cont {
	margin-top: 10px;
	


}
.nav_cont .top_nav {
	
	background: #404850;
	width: 100%;
    box-sizing: border-box;
    

    
    
}

.nav_cont .top_nav a {
	
	display: inline-block;
	border: 1px solid white;
	padding: 0 21px;

	
}
.nav_two .two_nav {
	width: 100%;
	background: transparent;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
	text-align: right;


}
.nav_two .two_nav a {
	display: inline-block;
	color: #000;
	padding: 10px;
	
	

}
.clear {
	content: '';
	display: table-cell;
	clear: both;
}
.left_nav {
	background: #404850;
	border: 1px solid white;
	text-align: center;
	height: 80vh;
	padding: 15px;
}

.img {
	
	box-sizing: border-box;
	
	border: 1px solid white;
	
}
.img h5 {
	padding: 5px 10px;
}
.img p {
	padding: 5px 10px;
}
.img img {
	max-width: 100%;
}
.marginBottom {
	margin-bottom: 50px;	
}
