* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

body {
	font: 300 16px 'Muller Narrow', sans-serif;
	color: #363636;
}
html {
	overflow-x: hidden;
}

ol, ul, li {
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;

}
img {
	max-width: 100%;
	height: auto;
}
a, button {
	cursor: pointer;
	transition: .3s;
}

.hover-underline:hover {
	text-decoration: underline;
}
.link {
	color: #0364a0;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.underline {
	text-decoration: underline;
}
.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}

/**
* header
**/

.header {
	
	background-color: #08649F;
	color: #fff;
	border-bottom: 1px solid #fff;

	&__wrapper {
		position: relative;

		display: flex;
		justify-content: space-between;
		z-index: 1;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: -46px;
			width: 100vw;
			z-index: -2;

			background-color: #106BA4;

		}
		&:before {
			background-color: #1270AA;
			left: 546px;
			z-index: -1;
		}
	}
	&__logo {
		padding: 8px 0 12px;
		position: relative;
		font-size: 0;
		&-transparent-img {
			min-width: 552px;
			position: absolute;
			display: block;

			top: -500px;
			bottom: -500px;
			left: -61px;

			margin: auto;

			opacity: 0.05;
		}
		&-link {}
		&-img {
			max-width: 188px;
		}
	}

	&__info {
		padding-top: 16px;
		width: 100%;
	}

	&__actions {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		&-link {
			font-family: "Muller";
			border-bottom: 1px solid;
			font-size: 12px;
			color: #82afca;
			font-weight: 300;
			margin: 0 19px;
		}
		&-form {
			margin-left: 10px;
			&-label {}
			&-input {
				position: absolute;
				right: -10px;
				top: -2px;
				bottom: -2px;
				width: 100%;

				background-color: #0C639E;

				border: none;
				box-shadow: 0px 0px 10px #fff;
				border-radius: 5px;

				color: #fff;
				padding: 0 10px;
				font-size: 12px;

				transform: scaleX(0);

				transform-origin: center right;
				visibility: hidden;
				opacity: 0;

				transition: .3s;
			}
			&.open &-input,
			&-input:focus {
				transform: scaleX(1);
				opacity: 1;
				visibility: visible;
			}
			&-btn {
				outline: 0;
				position: relative;
				z-index: 99;
				background-color: transparent;
				color: #82afca;

				font-size: 20px;

				border: none;

				&:hover {
					color: darken(#82afca, 10%);
				}
			}
		}
	}

	&__menu {
		padding-top: 20px;
		margin-left: 400px;
		&-wrapper {
			position: relative;
		}
		&-icon {
			height: 40px;
			font-size: 32px;
			position: absolute;
			right: 100%;
			top: -50px;
			bottom: -50px;
			margin: auto 0;

			margin-right: 18px;

			transform: scaleX(1.4);
			transform-origin: center right;
		}
		&-container {
			display: flex;
			align-items: center;
		}
		&-item {
			margin-right: 35px;

			&:last-child {
				margin-right: 0;
			}
		}
		&-link {
			font-family: "Muller";

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/**
* menu toggle begins
**/
.menu-toggle {
	margin: auto;
	
	cursor: pointer;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 20px;
	transition: .3s;
	
	&.opened {
		justify-content: center;
		transform: rotate(45deg);
	}
	
	&__element {
		background-color: #fff;
		width: 100%;
		height: 3px;
		transition: .3s;

		border-radius: 15px;
	}
	
	&.opened &__element {
		background-color: #f60;
		
		&:nth-of-type(1) {
			transform: translateY(100%);
		}
		
		&:nth-of-type(3) {
			transform-origin: center center;
			transform: translateY(-100%) rotate(90deg);
		}
		
		&:nth-of-type(2) {
			opacity: 0;
		}
		
	}
	
}

/** ^^^^^^^^^^^^^^
* menu toggle ends
**/

@media only screen and (max-width: 1170px) {
	.header {
		&__wrapper {
			&:before,
			&:after {
				display: none;

			}
		}
		&__logo {
			&-transparent-img {
				min-width: 400px;
				left: -30px;
			}
		}
		&__info {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}

		&__menu {
			margin-left: 0;
		}
	}
}

@media only screen and (max-width: 768px) {
	.menu-toggle {
		display: flex;
	}
	.header {
		&__logo {
			&-transparent-img {
				display: none;
			}
		}

		&__menu {
			text-align: right;
			&-icon {
				display: none;
			}
			&-wrapper {
				display: none;
				background-color: #0C639E;
				box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;

				padding: 10px 0;
			}
			&-container {
				flex-direction: column;
				
			}
			&-item {
				margin: 0;
				padding: 5px 15px;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.header {
		&__logo {
			padding: 0;
			&-img {
				max-width: 150px;
			}
		}
		&__wrapper {
			flex-direction: column;
			align-items: center;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		&__actions {
			margin: auto;
		}
		&__menu {
			margin: 0;
		}
		
	}
}



/**
* intro
**/

.intro {
	
	background: url(../img/intro/bg.jpg) center bottom no-repeat;
	background-size: cover;

	color: #fff;

	&__wrapper {
		min-height: 595px;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__info {
		max-width: 750px;
		text-align: center;
	}
	&__header {
		font-size: 47.78px;
		line-height: 1;

		margin-bottom: 30px;
		&--uppercase {

			text-transform: uppercase;
		}
	}
	&__desc {
		font-size: 18px;
		font-weight: 300;
		line-height: 24px;
		margin-bottom: 50px;
		&--uppercase {}
	}
	&__action {
		&-btn {
			font: bold 12px "Muller";
			text-transform: uppercase;
			padding: 21px 44px 16px;

			background-color: #08649F;

			line-height: 1;
		}
	}
}


/**
* projects
**/

.projects {

	background-color: #E5EEF3;
	padding: 73px 0 55px;

	&--bg-transparent {
		background-color: transparent;
	}
	&__wrapper {
		margin-bottom: 50px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__list {
		margin: 0 -15px;

		&-page {
			/*display: flex;
			flex-wrap: wrap;*/
		}
	}
}

@media only screen and (max-width: 1170px) {
	.projects {
		padding-left: 50px;
		padding-right: 50px;
		&__list {
			margin: 0 -15px;
		}
	}

}


.head-more {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	padding-bottom: 16px;
	margin-bottom: 48px;
	border-bottom: 1px solid #888;

	&__text {
		font-weight: 300;
		font-size: 35px;
	}
	&__link {
		margin-left: 20px;

		font-weight: 300;
		font-size: 14px;
		color: #0364a0;

		line-height: 24px;

		margin-right: 25px;
		position: relative;

		/*height: 10px;*/


		&:hover {
			text-decoration: underline;
		}
		&:after {
			content: "";
			width: 17px;
			height: 17px;
			max-height: 100%;

			position: absolute;
			right: -25px;
			top: -20px;
			bottom: -20px;
			margin: auto 0;
			background: url(../img/icons/next-page.png) center center no-repeat;
			background-size: contain;
		}
	}

	&__links {
		&-item {
			display: inline-block;
			margin-right: 35px;
		}
		&-icon {
			font-size: 10px;
			margin-left: 2px;
			display: inline-block;
		}
	}
	&__search {
		&-container {
			width: 263px;
			height: 29px;
			position: relative;
		}
		&-field {
			display: block;
			width: 100%;
			height: 100%;
			border: none;
			padding-left: 13px;
			padding-right: 31px;
		}
		&-btn {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			height: 100%;
			width: 29px;
			border: none;
			background-color: transparent;

			display: none; /* нужен ли? вроде да, но на макете нету, посему убираю */
		}
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #cccccc; font: 300 14px "Muller Narrow";
}
::-moz-placeholder { /* Firefox 19+ */
	color: #cccccc; font: 300 14px "Muller Narrow";
}
:-ms-input-placeholder { /* IE 10+ */
	color: #cccccc; font: 300 14px "Muller Narrow";
}
:-moz-placeholder { /* Firefox 18- */
	color: #cccccc; font: 300 14px "Muller Narrow";
}

@media only screen and (max-width: 768px) {
	.head-more {
		flex-direction: column;
		align-items: center;
		text-align: center;
		&__text {
			font-size: 28px;
		}
		&__link {
			margin-top: 10px;

		}
	}
}

.cart-box {
	outline: 0;
	margin: 0 15px;
	width: 360px;

	padding-bottom: 20px;

	&__wrapper {
		display: flex;
		flex-direction: column;

		background-color: #fff;
		box-shadow: 0px 0px 15px 0px rgba(0, 64, 99, 0.16);

	}
	&__img-box {
		overflow: hidden;
		width: 100%;
		min-height: 215px;
		max-height: 215px;
		height: 215px;
		
		position: relative;
	}
	&__img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&__info {
		padding: 20px 25px 40px;
		&-wrapper {
			height: 100%;
			font-size: 14px;

			display: flex;
			flex-direction: column;
		}
		&-header {
			text-transform: uppercase;
			margin-bottom: 30px;
		}
		&-desc {
			color: #898989;
			line-height: 24px;

			margin-bottom: 45px;
		}
		&-process {
			margin-top: auto;
			&-bar {
				background-color: #EEEEEE;
				margin-bottom: 7px;
				&-percent {
					width: 100%;
					height: 4px;
					background: linear-gradient(to right, #08649F, #0B95EF);
				}
			}
			&-info {
				text-transform: uppercase;
				display: flex;
				justify-content: space-between;
				&-item {
					&--right {
						text-align: right;
					}
				}
				&-header {
					font-size: 14px;
					font-weight: bold;
				}
				&-desc {
					padding-top: 7px;
					color: #898989;
					font-size: 12px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1170px) {
	.cart-box {
		&__info {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
@media only screen and (max-width: 480px) {
	.projects {
		padding-left: 30px;
		padding-right: 30px;
		&__list {
			margin: 0 -20px;
		}
	}
}


.projects-single {

	background-color: #E5EEF3;
	& .projects {
		padding-top: 45px;
	}
	& .head-more {
		align-items: center;
	}
	& .cart-box {
		width: 263px;

		&__wrapper {
			height: 100%;
			max-height: 100%;
		}
		&__info {
			height: 100%;
		}
	}
	& .projects__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -16px;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	}
	&__content-box {
		width: 848px;
		max-width: 848px;
	}
	&__sidebar {
		margin-top: 35px;
		padding: 30px 20px 33px 28px;
		width: 262px;
		max-width: 262px;

		box-shadow: 0px 0px 15px 0px rgba(0, 64, 99, 0.16);
		background-color: #fff;
		
		&-box {
			margin-bottom: 35px;
		}
		&-header {
			font-size: 18px;
			font-weight: 300;
			margin-bottom: 15px;
		}
		&-list {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		&-item {
			font-size: 14px;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

	}
}

@media only screen and (max-width: 1170px) {
	.projects-single {
		& .projects__list {
			justify-content: center;
		}
		& .cart-box {
			width: 45%;
		}
	}
}
@media only screen and (max-width: 950px) {
	.projects-single {
		padding-bottom: 50px;
		&__wrapper {
			flex-direction: column;
		}
		&__sidebar {
			padding-left: 0;
			padding-right: 0;
			width: 100%;
			max-width: 100%;
			display: flex;
			/*justify-content: center;*/
			flex-wrap: wrap;
			
			&-box {
				margin: 0 30px 30px;
				
			}

		}
		&__content-box {
			min-width: 100%;
			width: 100%;
			
		}
		& .projects {

			padding-left: 0;
			padding-right: 0;
			&__list {
				justify-content: space-between;
				margin: 0;
			}
		}
	}

}
@media only screen and (max-width: 768px) {
	.head-more__links {
		margin-bottom: 20px;
		&-item {
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.projects-single {
		& .cart-box {
			width: 80%;
			margin: 0 auto;
		}
	}
}

@media only screen and (max-width: 480px) {
	.projects-single {
		& .cart-box {
			width: 100%;
		}
	}
	
}


/**
* awards
**/

.awards {
	padding-top: 55px;
	padding-bottom: 70px;
	&__wrapper {}
	&__list {
		&-container {
			display: flex;

			margin: 0 -15px;
		}
		&-item {
			margin: 0 15px;
			padding: 25px;
			width: 100%;
			max-width: 263px;
			border: 1px solid #F0F0F0;
			background-color: rgb(255, 255, 255);
			box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);


			&-wrapper {
				height: 100%;
				display: flex;
				flex-direction: column;
			}
		}
		&-img-box {
			margin-bottom: 10px;
		}
		&-img {}
		&-proj-box {
			font-weight: 300;
			display: flex;

			margin-bottom: 20px;
		}
		&-proj-title {
			color: #898989;
			font-size: 12px;
			text-transform: uppercase;

			margin-right: 10px;
		}
		&-proj-name {
			color: #08649F;
			font-size: 14px;
			text-decoration: underline;
		}
		&-desc {
			font-weight: 900;
			font-size: 16px;

			line-height: 1.1;
			margin-bottom: 10px;
		}
		&-price {
			margin-top: auto;
			display: flex;
			justify-content: space-between;
			&-num {
				color: #0364a0;
				font-size: 24px;
				font-weight: 300;
			}
			&-info {
				text-transform: uppercase;
				text-align: right;
				color: #898989;
				font-weight: 300;
				font-size: 12px;
			}
		}
	}
}

@media only screen and (max-width: 992px) {
	.awards {
		padding-bottom: 55px;
		&__list {
			&-container {
				flex-wrap: wrap;
				justify-content: center;
			}
			&-item {
				margin: 0 15px 15px;
			}
		}
	}
}


/**
* about
**/

.about {
	background-color: #08649F;
	color: #fff;
	position: relative;
	z-index: 1;

	&:after {
		content: "";
		position: absolute;
		z-index: -1;
		left: 50%;
		width: 50%;
		top: 0;
		bottom: 0;

		background-color: #1270AA;
	}

	&__wrapper {}
	&__list {
		&-container {
			display: flex;
		}
		&-item {
			width: 33.33333%;

			padding: 50px 40px 35px;

			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
			&:nth-of-type(2) {
				background-color: #106BA4;
			}
		}
		&-header {
			font: bold 22px "Muller";
			padding-bottom: 20px;
		}
		&-text {
			font-weight: 300;
			line-height: 24px;
		}
	}
}

@media only screen and (max-width: 992px) {
	.about {
		&__list {
			&-item {
				padding: 50px 25px 35px;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.about {
		padding: 50px 0 35px;

		&:after {
			display: none;
		}

		&__list {
			&-container {
				flex-direction: column;
			}
			&-item {
				width: 100%;
				padding: 0;

				margin-bottom: 50px;

				&:nth-of-type(2) {
					background-color: transparent;
				}
			}
			&-header {
				text-align: center;
			}
		}
	}
}


/**
* partners
**/

.partners {
	padding-top: 65px;
	padding-bottom: 55px;

	&__wrapper {}
	&__header {
		font-weight: 300;
		font-size: 35px;
		text-align: center;

		margin-bottom: 20px;
	}
	&__list {
		&-container {
			display: flex;
			justify-content: space-between;
			align-items: center;

		}
		&-item {
			text-align: center;
			width: 20%;
			margin: 0 15px;
		}
		&-link {}
		&-img {}
	}
}

@media only screen and (max-width: 768px) {
	.partners {
		&__list {
			&-container {
				flex-wrap: wrap;
				justify-content: center;
			}
			&-item {
				width: 35%;
				margin-bottom: 20px;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.partners {
		&__list {
			&-item {
				width: 100%;
				margin: 0;
				margin-bottom: 30px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

/**
*  footer
**/

.footer {
	border-top: 1px solid #08649F;
	padding-top: 50px;
	padding-bottom: 32px;

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__about {
		min-width: 390px;
		&-logo {
			display: table;
			margin-bottom: 27px;
			
			color: #0364a0;
			font: 20px "Muller";
			text-transform: uppercase;
			&--big {
				font-weight: bold;
				font-size: 32.5px;
				color: #82afca;
			}
		}
		&-number {
			font-size: 21px;
			font-weight: bold;
		}
		&-info {
			padding-top: 27px;
			color: #898989;
			font-size: 14px;
			line-height: 24px;
		}
	}

	&__list {
		width: 100%;
		padding-right: 83px;
		&-container {
			display: flex;
			justify-content: space-between;

		}
		&-item {
			margin-bottom: 45px;
		}
		&-header {
			color: #0364a0;
			margin-bottom: 27px;
			text-transform: uppercase;
			font: 600 14px "Muller";
		}
		&-links {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			&-item {


				color: #898989;
				font-size: 14px;
				font-weight: 300;

				line-height: 24px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
		&-socials {
			font-size: 0;
			&-item {
				margin-right: 15px;
				font-size: 15px;
				display: inline-flex;
				width: 32px;
				height: 32px;
				background-color: #E0E0E0;
				color: #fff;

				justify-content: center;
				align-items: center;
				border-radius: 50%;

				&:hover {
					background-color: #000;
				}
				&--vk:hover {
					background-color: #4A75A7;
				}
				&--facebook:hover {
					background-color: #4867A9;
				}
				&--twitter:hover {
					background-color: #1798F4;
				}
				&--odnoklassniki:hover {
					background-color: #F69223;
				}
			}
		}
	}
}


@media only screen and (max-width: 992px) {
	.footer {
		&__about {
			min-width: 280px;
		}
	}
}

@media only screen and (max-width: 800px) {
	.footer {
		&__wrapper {
			flex-direction: column;
		}
		&__about {
			min-width: unset;
			margin-top: 30px;
			order: 2;
			text-align: center;
			&-logo {
				margin: 0 auto;
				margin-bottom: 27px;
			}
		}
		&__list {
			padding: 0;

			&-socials {
				text-align: center;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.footer {
		&__list {
			padding: 0;

			&-container {
				flex-direction: column;
				text-align: center;
				align-items: center;
			}
		}
	}
}

/**
* page-nav
**/

.page-nav {
	padding: 20px 0;
	background-color: #fff;
	position: relative;
	z-index: 10;
	&__wrapper {}
	&__list {
		&-container {
			font-size: 14px;
			color: #a1a1a1;

			display: flex;
			align-items: center;
		}
		&-item {
			&:after {
				content: ">";
				display: inline-block;
				margin: 0 10px;
				color: #7d7d7d;
			}
			&:last-child:after {
				display: none;
			}
		}
		&-link {
			color: #0364a0;
		}
	}
}
.personal-wrap-top {
	width: 100%;
	max-width: 765px;
	margin-right: 20px;
}
.personal-area {
	background-color: #e6eff4;
	padding-top: 19px;
	padding-bottom: 24px;
	&__info {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 24px;
		&-user {
			width: 100%;
			max-width: 765px;
			display: flex;
			padding: 0 40px;
			padding-top: 41px;
			background-color: #042f4a;
			min-height: 199px;
			position: relative;
			margin-right: 83px;
			&-btn-settings {
				display: block;
				width: 20px;
				height: 20px;
				border: 0;
				background-color: transparent;
				opacity: 1;
				position: absolute;
				right: 20px;
				top: 20px;
				background-image: url('../img/personalArea/settings-work-tool.svg');
				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
			}
			&-avatar {
				margin-right: 24px;
				img {
					width: 100px;
					height: 100px;
				}
			}
			&-wrap-text {
				display: flex;
				flex-direction: column;
				color: #fff;
				&-nickname {
					font-size: 40px;
					display: block;
					text-transform: lowercase;
					margin-bottom: 10px;
					line-height: 29px;
				}
				&-status {
					display: flex;
					align-items: center;
					&_city {
						display: block;
						margin-right: 10px;
					}
					&_circle {
						display: block;
						background-color: #fff;
						border-radius: 50%;
						width: 4px;
						height: 4px;
						margin-right: 10px;
					}
				}
			}
		}
		&-score {
			width: 100%;
			max-width: 292px;
			padding: 0 31px;
			display: flex;
			flex-direction: column;
			padding-top: 17px;
			padding-bottom: 24px;
			background-color: #fff;
  		box-shadow: 0px 0px 15px 0px rgba(0, 64, 99, 0.16);
  		&-form {
  			width: 100%;
  			&__input {
  				width: 100%;
  				padding: 10px 3px;
  				border: 0;
  				text-align: right;
  				transition: all .3s;
  				border-bottom: 1px solid #ebebeb;
  				display: block;
  				margin-bottom: 14px;
  				&:focus {
  					outline: none;
  					border-bottom-color: #1a88cb;
  				}
  			}
  			&__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: #363636; font: 900 14px "Muller Narrow"; font-size: 24px;
				}
				&__input::-moz-placeholder { /* Firefox 19+ */
					color: #363636; font: 900 14px "Muller Narrow"; font-size: 24px;
				}
				&__input:-ms-input-placeholder { /* IE 10+ */
					color: #363636; font: 900 14px "Muller Narrow"; font-size: 24px;
				}
				&__input:-moz-placeholder { /* Firefox 18- */
					color: #363636; font: 900 14px "Muller Narrow"; font-size: 24px;
				}
				&__btn {
					width: 100%;
					display: block;
					border: none;
					padding: 14px;
					color: #fff;
					font-weight: 800;
  				border-radius: 3px;
  				margin-bottom: 17px;
  				background-color: #1a88cb;
  				box-shadow: inset 0px -2px 0px 0px rgba(3, 3, 4, 0.09);
  				&:hover, &:focus, &:active {
  					outline: none;
  					background-color: darken(#1a88cb, 10%);
  				}
				}
  		}
  		&-subscription {
  			display: flex;
  			align-items: center;
  			text-align: center;
  			justify-content: center;
  			&_info-item {
  				color: #464646;
  				&:first-child {
  					margin-right: 17px;
  				}
  				&:last-child {
  					margin-left: 28px;
  				}
  				span {
  					font-size: 35px;
  				}
  			}
  		}
		}
	}
}

/* section.personal-area__info */
.main-content-tabs__right-text {
	p {
		font-size: 12px;
		color: #898989;
		a {
			color: #555555;
		}
		.our-mail {
			text-decoration: underline;
		}
	}
}
.main-content-tabs__wrap {
	display: flex;
	justify-content: space-between;
	.tab-wrap {
		width: 100%;
		max-width: 790px;
		display: flex;
		justify-content: space-between;
		margin-right: 30px;
	}
	&-btn {
		border: 0;
		background-color: #d3dadd;
		display: block;
		width: 50%;
		padding: 13px;
		font-size: 16px;
		&:focus, &:hover, &:active {
			outline: none;
			background-color: #fff;
			color: #464646;
		}
	}
}
.tab-content {
	background-color: #fff;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	&__left {
		width: 100%;
		max-width: 848px;
		margin-right: 10px;
	}
	.card-progect {
		min-height: 504px;
		background-color: #fff;
		box-shadow: 0px 0px 15px 0px rgba(0, 64, 99, 0.16);
	}
	&__right {
		margin-top: 9px;
	}
}
.btn-tab-active {
	background-color: #fff;
	color: #464646;
	font-weight: 900;
}

.progects-user {
	&__title {
		font-size: 26px;
		color: #363636;
		padding: 14px 0;
		font-weight: 400;
		display: block;
	}
	&__item-photo-wrap {
		width: 100%;
		max-width: 280px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	&__item-progect {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #ebebeb;
		border-bottom: 1px solid #ebebeb;
		padding-top: 45px;
		padding-bottom: 25px;
		margin-bottom: 25px;
	}
	&__item-photo {
		position: relative;
		p {
			top: 12px;
			left: 15px;
			color: #363636;
			font-size: 16px;
			position: absolute;
		}
		&__delete-btn {
			border: 0;
			background-color: transparent;
			color: #cf102d;
			font-size: 12px;
			padding: 10px 0;
		}
	}
	&__item-finance-info {
			width: 100%;
			padding: 0 15px;
			display: flex;
			justify-content: center;
			align-items: center;
	}
	&__item-finance-list {
		display: flex;
		li {
			text-align: center;
			margin-right: 128px;
			&:last-child {
				margin-right: 0;
			}
			p {
				font-size: 12px;
				margin-bottom: 3px;
			}
			span {
				font-size: 22px;
				font-weight: 800;
			}
		}
		.collection {
			span {
				color: #1a88cb;
			}
		}
		.target {
			span {
				color: #b7b7b7;
			}
		}
	}
}

.support-progects {
	&__title {
		color: #363636;
		font-size: 18px;
		text-align: center;
		font-weight: 500;
		margin-bottom: 21px;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		&-item {
			width: 100%;
			max-width: 234px;
			padding: 15px;
			border: 1px solid #efefef;
			img {
				margin-bottom: 10px;
			}
			h3 {
				font-size: 14px;
				color: #363636;
				margin-bottom: 16px;
			}
			p {
				font-size: 14px;
				color: #898989;
			}
		}
	}
}

.news-user {
	padding: 0 56px;
	&__item {
		padding: 30px 0;
		padding-top: 35px;
		color: #363636;
		border-bottom: 1px solid #ebebeb;
	}
	&__title {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 8px;
	}
	&__date {
		color: #898989;
		font-size: 14px;
		display: block;
		margin-bottom: 15px;
	}
	&__subtitle {
		font-size: 14px;
		font-weight: 800;
		margin-bottom: 21px;
	}
	&__picture {
		margin-bottom: 30px;
	}
	&__descr {
		font-size: 16px;
		line-height: 24px;
		text-overflow: ellipsis;
		margin-bottom: 20px;
	}
	&__links {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 25px;
	}
	&__more {
		display: inline-block;
		padding: 6px 12px;
		color: #fff;
		font-size: 14px;
		line-height: 24px;
		background-color: #1a88cb;
	}
	&__share {
		display: inline-block;
		padding: 6px 12px;
		padding-left: 17px;
		font-size: 12px;
		color: #1a88cb;
		position: relative;
		&::before {
			content: '';
			width: 11px;
			height: 12px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-image: url('../img/personalArea/share.svg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}
	&__comments {
		border: 6px solid #efefef;
		width: 100%;
		text-align: center;
		padding: 10px;
		p {
			font-size: 16px;
			line-height: 16px;
			a {
				font-size: 16px;
				color: #1a88cb;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
/* .main-content-tabs__wrap */

.basic-data {
	background-color: transparent;
}
.settings-page .tab-content.contacts,
.settings-page .tab-content.change-password {
	background-color: transparent;
	.mailing-lists {
		display: flex;
		justify-content: flex-end;
	}
}

.settings-page {
	background-color: #e6eff4;
	color: #363636;
	.tab-content {
		padding: 0;
		padding-bottom: 87px;
		flex-direction: column;
	}
	&__head {
		width: 100%;
		background-color: #fff;
		padding: 13px 0;
		margin-bottom: 23px;
	}
	&__title {
		width: 100%;
		max-width: 1170px;
		margin: auto;
		font-size: 26px;
		padding: 0 15px;
		font-weight: 400;
	}
	&__table-data {
		width: 100%;
		background-color: #fff;
		border-collapse: collapse;
		margin-bottom: 23px;
		.empty-td {
			border: 1px solid transparent;
			border-right-color: #ebebeb;
			opacity: 0;
		}
		.social-list {
			display: flex;
			align-items: center;
			padding: 7px 15px;
			&__item {
				margin-right: 12px;
			}
		}
		.data-social {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-right: 21px;
			&__icon {
				border-radius: 50%;
				background-color: #1a88cb;
				width: 30px;
				height: 30px;
				display: block;
				background-repeat: no-repeat;
				background-position: center;
			}
			.vk {
				background-image: url('../img/settings/vk.svg');
			}
			.fb {
				background-image: url('../img/settings/f.svg');
			}
			.tw {
				background-image: url('../img/settings/twitter.svg');
			}
			.google {
				background-image: url('../img/settings/google.svg');
			}
		}

		tr {
			td {
				border: 1px solid #ebebeb;
				font-size: 16px;
				color: #363636;
				a, input {
					color: #898989;
					border: 0;
				}
				input {
					width: 100%;
					padding: 14px;
					padding-left: 40px;
					font-size: 19px;
					&:focus {
						+ label {
							display: none;
						}
					}
				}
				.input-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					 font-size: 16px;
				}
				.input-group input::-moz-placeholder { /* Firefox 19+ */
					 font-size: 16px;
				}
				.input-group input:-ms-input-placeholder { /* IE 10+ */
					 font-size: 16px;
				}
				.input-group input:-moz-placeholder { /* Firefox 18- */
					 font-size: 16px;
				}
				.input-name input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: #363636;
				}
				.input-name input::-moz-placeholder { /* Firefox 19+ */
					color: #363636;
				}
				.input-name input:-ms-input-placeholder { /* IE 10+ */
					color: #363636;
				}
				.input-name input:-moz-placeholder { /* Firefox 18- */
					color: #363636;
				}
				.input-group {
					position: relative;
					overflow: hidden;
					.inp-label-link {
						position: absolute;
						top: 9%;
						left: 39px;
						transform: translateY(50%);
						cursor: text;
						user-select: none;
						color: #707070;
						font-size: 16px;
						span {
							color: #cccccc;
						}
					}
				}
				.label-hide + label {
					display: none;
				}
				.input-link {
					position: relative;
					&__question {
						border: 0;
						background-color: transparent;
						position: absolute;
						top: 50%;
						right: 14px;
						transform: translateY(-50%);
						display: block;
						z-index: 1;
						width: 17px;
						height: 17px;
						background-image: url('../img/settings/question.svg');
						background-repeat: no-repeat;
						background-position: center;
					}
				}
				textarea {
					width: 100%;
					display: block;
					height: 264px;
					padding: 14px 40px;
					border: none
				}
				a {
					font-size: 16px;
				}
			}
			.data-title {
				width: 30%;
				min-height: 47px;
				padding-left: 131px;
			}
			.about-data {
				height: 264px;
			}
			.data-inputs {
				height: 0;
				position: relative;
			}
		}
		.foot-info, .quantity {
			width: 100%;
			padding: 13px;
			padding-left: 100px;
			p {
				input[type="checkbox"] {
					display: none;
					&:checked {
						+ label::before {
							background-image: url('../img/settings/check.svg');
							background-repeat: no-repeat;
							background-position: center;
						}
					}
				}
				label:not(.quantity-inp) {
					position: relative;
					padding-left: 32px;
					cursor: pointer;
					user-select: none;
					&::before {
						content: '';
						position: absolute;
						width: 18px;
						height: 18px;
						display: block;
						border-radius: 3px;
						border: 1px solid #1a88cb;
					}
				}
			}
		}
		.selectric {
			border: 0;
			background-color: transparent;
			.label {
				height: 44px;
				line-height: 43px;
				color: #363636;
				font-size: 16px;
				margin: 0 38px 0 38px;
			}
			.button {
				background-color: transparent;
				&::after {
					border: 5px solid transparent;
					border-top-color: #1a88cb;
					top: 10px;
					right: 8px;
				}
			}
		}
	}
}

.settings-page__table-data tr .quantity {
	padding: 0;
	.input-group {
		width: 50%;
		display: inline-block;
	}
	input + label {
		&::before {
			left: 0;
		}
	}
}
.quantity-inp input {
	background-color: #f2f2f2;
}
.quantity-wrap {
	display: flex;
	justify-content: space-between;
}
.mailing-lists {
	display: flex;
	justify-content: space-between;
	&__btn {
		border: 0;
		background-color: #cbd7dd;
		font-size: 16px;
		color: #464646;
		padding: 15px 110px;
		margin-right: 16px;
		&:hover, &:focus, &:active {
			outline: none;
			color: #fff;
			background-color: lighten(#464646, 30%);
		}
	}
}
.save-data {
	border: 0;
	padding: 15px 42px;
	color: #fff;
	background-color: #1a88cb;
	font-weight: 800;
	&:hover, &:focus, &:active {
		outline: none;
		background-color: lighten(#1a88cb,10%);
	}
}

.project-filter-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 25px;
	&__clear {
		padding: 4px 10px;
		color: #898989;
		display: block;
		font-size: 12px;
		border: 1px solid #ebebeb;
		background-color: transparent;
		border-radius: 3px;
	}
}
.btn-reset {
	margin: auto;
	text-transform: uppercase;
	padding: 10px 40px;
}
.project-filter-form-filter {
	.input-wrap-border {
		padding-bottom: 30px;
		border-bottom: 1px solid #ebebeb;
		margin-bottom: 30px;
	}
	.input-wrap {
		overflow: auto;
		max-height: 280px;
	}
	.input-group-wrap {
		padding-top: 10px;
		display: flex;
		justify-content: space-between;
		.input-group {
			width: 100%;
			max-width: 90px;
			input {
				width: 100%;
				display: block;
				border: 0;
				border-bottom: 1px solid #464646;
				&:focus {
					outline: none;
					border-bottom-color: lighten(#464646, 50%);
				}
			}
			input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #898989; font-size: 14px;
			}
			input::-moz-placeholder { /* Firefox 19+ */
				color: #898989; font-size: 14px;
			}
			input:-ms-input-placeholder { /* IE 10+ */
				color: #898989; font-size: 14px;
			}
			.input-name input:-moz-placeholder { /* Firefox 18- */
				color: #363636;
			}
		}
	}
}
.input-group-check {
	margin-bottom: 15px;
	input[type="checkbox"] {
		display: none;
		&:checked {
			+ label::before {
				background-image: url('../img/rewards/tick.svg');
			}
		}
	}
	label {
		display: block;
		padding-left: 22px;
		color: #363636;
		font-size: 14px;
		position: relative;
		&::before {
			content: '';
			width: 11px;
			height: 11px;
			border: 1px solid #ebebeb;
			border-radius: 2px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

.projects-rewards {
	&__item {
		width: 30.3%;
		background-color: #fff;
  	box-shadow: 0px 0px 15px 0px rgba(0, 64, 99, 0.16);
  	min-height: 384px;
  	margin-right: 29px;
  	padding: 25px;
  	margin-bottom: 25px;
  	&:nth-child(3n) {
  		margin-right: 0;
  	}
  	&-picture {
  		margin-bottom: 15px;
  	}
  	&-title-wrap {
  		display: flex;
  		margin-bottom: 25px;
  		min-height: 40px;
  		p {
  			color: #898989;
  			font-size: 12px;
  			text-transform: uppercase;
  			margin-right: 15px;
  		}
  	}
  	&__title {
  		font-size: 12px;
  		color: #0364a0;
  	}
  	&__full-title {
  		font-size: 14px;
  		color: #363636;
  		margin-bottom: 25px;
  		min-height: 70px;
  	}
  	&-price-info {
  		display: flex;
  		align-items: center;
  		justify-content: space-between;
  		.price {
  			font-size: 18px;
  			font-weight: 800;
  		}
  		.bought {
  			text-transform: uppercase;
  			font-size: 12px;
  		}
  	}
	}
}
.create-project {
	background-color: #e6eff4;

	.basic-data {
		width: 100%;
	}
	.tab-content {
		padding: 0;
		display: block;
		padding-bottom: 20px;
		background-color: transparent;
	}
	.settings-page__table-data tr .data-title {
		padding: 13px 0;
		padding-left: 55px;
		padding-right: 20px;
	}
	.settings-page__table-data .foot-info {
		padding-left: 55px;
	}
	.detailes .settings-page__table-data tr td .input-link__question {
		top: 23px;
	}
	.settings-page__table-data tr .image-project, 
	.settings-page__table-data tr .about-project, 
	.settings-page__table-data tr .descr-rewards,
	.settings-page__table-data tr .methods-obtaining, {
		height: 95px;
		span {
			display: block;
			font-size: 12px;
			color: #c2c2c2;
		}
	}
	.support-project {
		max-width: 261px;
		display: block;
		padding: 23px;
		background-color: #fff;
		border: 1px solid #ebebeb;
		margin-bottom: 37px;
		h3 {
			font-size: 16px;
			color: #464646;
			margin-bottom: 25px;
		}
		p {
			font-size: 12px;
			color: #898989;
		}
	}
	.warning-rewards {
		max-width: 261px;
		padding-left: 50px;
		color: #cf102d;
		font-size: 14px;
		font-weight: 800;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 31px;
			height: 27px;
			background-image: url('../img/icons/warning.svg');
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	.tab-wrap {
		max-width: 848px;
	}
	.data-title {
		position: relative;
		span {
			font-size: 12px;
			color: #898989
		}
	}
	td:not(.foot-info) .input-group {
		position: relative;
		input, textarea {
			resize: none;
			+ label:not(.inp-label-link) {
				max-width: 548px;
				color: #cccccc;
				font-size: 16px;
				position: absolute;
				cursor: text;
				top: 50%;
				transform: translateY(-50%);
				left: 20px;
			}
			&:focus {
				+ label {
					display: none;
				}
			}
		}
	}
	.settings-page__table-data tr td textarea {
		height: 95px;
	}
	td:not(.foot-info) .input-group.load-file-image,
	td:not(.foot-info) .input-group.load-file-image-link,
	td:not(.foot-info) .input-group.load-file-video  {
		margin-bottom: 20px;
		input, textarea {
			+ label {
				font-size: 10px;
				span {
					color: #464646;
					border-bottom: 1px dotted #464646;
				}
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	td:not(.foot-info) .input-group.load-file {
		input, textarea {
			+ label {
				cursor: pointer;
			}
		}
	}
}
.message-count-wrap {
	position: absolute;
	right: 20px;
	bottom: 1px;
	font-size: 12px;
	color: #cccccc;
	z-index: 1;
	user-select: none;
	cursor: text;
}
.next-step {
	position: relative;
	&::after {
		content: '';
		width: 7px;
		height: 13px;
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-50%);
		background-image: url('../img/icons/down-arrow.svg');
		background-repeat: no-repeat;
		background-position: center;
	}
}
.prev-step {
	padding-left: 35px;
	padding-right: 20px;
	position: relative;
	&::after {
		content: '';
		width: 7px;
		height: 13px;
		position: absolute;
		top: 50%;
		left: 20px;
		transform: translateY(-50%);
		background-image: url('../img/icons/down-arrow-left.svg');
		background-repeat: no-repeat;
		background-position: center;
	}
}
.eye-close-up {
	display: block;
	margin-left: 355px;
	border: none;
	background-color: transparent;
	color: #464646;
	font-size: 12px;
	position: relative;
	text-transform: uppercase;
	padding-left: 20px;
	&::before {
		content: '';
		width: 15px;
		height: 10px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		background-image: url('../img/icons/eye-close-up.svg');
		background-repeat: no-repeat;
		background-position: center;
	}
}
.tab-content-wrap-boxes {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.detailes, .rewards, .counterparty {
	.eye-close-up {
		margin-left: 0;
	}
}
.detailes {
	.tab-content__left {
		max-width: none;
	}
	.data-title {
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 68px;
		span {
			font-size: 12px;
			color: #898989;
			display: block;
			max-width: 130px;
			line-height: 24px;
		}
	}
}
.counterparty {
	.tab-content__left {
		max-width: none;
	}
}
.settings-page__table-data tr td .confirmation {
	a {
		color: #1a88cb;
	}
}
.select-date {
	+ td label {
		position: relative;
		padding-left: 32px;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 23px;
			height: 23px;
			left: 38px;
			background-image: url('../img/icons/calendar.svg');
			background-repeat: no-repeat;
		}
	}
}
.settings-page__table-data tr td .datetimepicker {
	width: 95.4%;
}
.col-top {
	vertical-align: top;
	padding: 17px 0;
}
.load-file {
	min-height: 20px;
	margin-bottom: 10px;
	input[type="file"] {
		display: none;
	}
	label {
		padding-left: 63px;
		text-transform: uppercase;
		position: relative;
		font-size: 12px;
		cursor: pointer;
		user-select: none;
		&::before {
			content: '';
			width: 17px;
			height: 14px;
			position: absolute;
			left: 35px;
			top: 50%;
			transform: translateY(-50%);
			background-image: url('../img/icons/share-load.svg');
			background-repeat: no-repeat;
		}
	}
}
.load-file-image {
	label {
		&::before {
			background-image: url('../img/icons/cloud-upload.svg');
		}
	}
}
.load-file-image-link {
	label {
		&::before {
			background-image: url('../img/icons/chain.svg');
		}
	}
}
.load-file-video {
	label {
		&::before {
			background-image: url('../img/icons/youtube-logo.svg');
		}
	}
}
.project {
	&__head {
		padding-top: 30px;
		padding-bottom: 45px;
	}
	&__status {
		display: flex;
		align-items: center;
		margin-bottom: 23px;
		&-title {
			font-weight: 400;
			text-transform: uppercase;
			color: #0364a0;
			font-size: 16px;
		}
		&-circle {
			border-radius: 50%;
			display: block;
			width: 100%;
			max-width: 20px;
			min-height: 20px;
			background-color: #0364a0;
			margin-right: 11px;
		}
	}
	&__card {
		&-title-info {
			font-size: 12px;
			color: #cccccc;
			text-transform: uppercase;
			font-weight: 400;
		}
		&-head-text {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			color: #363636;
			margin-bottom: 35px;
			.chare-btn {
				padding: 10px 23px;
				padding-right: 30px;
				display: block;
				font-size: 12px;
				color: #898989;
				background-color: #fff;
				border: 1px solid #ebebeb;
				position: relative;
				&::after {
					content: '';
					width: 10px;
					height: 5px;
					position: absolute;
					top: 50%;
					right: 15px;
					transform: translateY(-50%);
					background-image: url('../img/icons/arrow-down.svg');
					background-repeat: no-repeat;
					background-position: 0;
				}
			}
		}
		&-title {
			font-size: 36px;
			margin-bottom: 10px;
		}
		&-descr {
			max-width: 593px;
			font-size: 16px;
		}
		&-inner-content {
			display: flex;
			justify-content: space-between;
			background-color: #fff;
			min-height: 338px;
  		box-shadow: 0px 0px 15px 0px rgba(0, 64, 99, 0.16);
		}
		&-left-banner {
			width: 100%;
			padding: 15px;
			max-width: 166px;
			img {
				margin-bottom: 13px;
			}
			a {
				font-size: 12px;
				color: #0364a0;
				display: block;
				margin-bottom: 13px;
				text-decoration: underline;
			}
		}
		.get-quest {
			padding-top: 20px;
		}
		&-social-list {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			min-height: 85px;
			border-bottom: 1px solid #ebebeb;
			li {
				margin-right: 4px;
			}
			a {
				display: block;
				border-radius: 50%;
				width: 21px;
				height: 21px;
				padding: 8px 5px;
				position: relative;
				&::before {
					content: '';
					position: absolute;
					width: 11px;
					height: 7px;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					background-repeat: no-repeat;
					background-position: center;
				}
			}
			.vk {
				background-color: #6996c7;
				&::before {
					background-image: url('../img/icons/vk.svg');
				}
			}
			.fb {
				background-color: #496194;
				&::before {
					width: 6px;
					height: 14px;
					background-image: url('../img/icons/f.svg');
				}
			}
		}
		&-center-banner {
			width: 100%;
			max-width: 599px;
			a {
				display: flex;
			}
			img {
				display: block;
			}
		}
		&-right-banner {
			width: 100%;
			max-width: 405px;
			padding: 20px 30px;
			.support-btn-proj {
				width: auto;
				display: block;
				border: 0;
				margin: auto;
				padding: 15px 53px;
				font-size: 14px;
				text-transform: uppercase;
  			border-radius: 3px;
  			color: #fff;
  			background-color: #1a88cb;
  			box-shadow: inset 0px -2px 0px 0px rgba(3, 3, 4, 0.09);
  			&:hover,&:active,&:focus {
					background-color: lighten(#1a88cb, 10%);
  			}
			}
		}
		&-text-progress {
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;
			&__number {
				font-size: 40px;
			}
			&-right {
				text-align: right;
				color: #cccccc;
			}
		}
		&-project-info {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding-top: 20px;
			margin-bottom: 10px;
			&__item {
				width: 50%;
				margin-bottom: 15px;
				p {
					margin-bottom: 9px;
					color: #363636;
				}
				span {
					font-size: 12px;
					color: #363636;
					text-decoration: underline;
				}
			}
		}
	}
	&__tabs-info {
		background-color: #fff;
		padding: 30px 0;
	}
	&__tabs-wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		border-bottom: 1px solid #898989;
	}
	&__tabs-btn-wrap {
		display: flex;
	}
	&__tabs-btn {
		border: 0;
		display: block;
		background-color: transparent;
		text-align: center;
		margin-right: 14px;
		padding: 0 30px;
		padding-bottom: 22px;
		display: flex;
		max-width: 300px;
		font-size: 18px;
		color: #898989;
		position: relative;
		sup {
			font-size: 12px;
			padding-left: 4px;
		}
		&:hover, &:active, &:focus {
			color: #363636;
		}
		&::after {
			content: '';
			width: 100%;
			height: 4px;
			position: absolute;
			left: 0;
			display: none;
			bottom: 0;
			background-color: #0f70ab;
		}
	}
	.reminder-btn {
		margin-top: 5px;
		padding-left: 35px;
		text-transform: uppercase;
		color: #363636;
		border: 0;
		background-color: transparent;
		position: relative;
		&::before {
			content: '';
			width: 30px;
			height: 30px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background-image: url('../img/icons/notification.svg');
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	&__tab-content-wrap {
		padding: 50px 0;
		display: flex;
		justify-content: space-between;
	}
	&__tab-title {
		font-size: 26px;
		color: #363636;
		margin-bottom: 20px;
		font-weight: 400;
	}
	&__rewards {
		width: 100%;
		max-width: 360px;
		&-item {
			padding: 20px;
			border: 1px solid #efefef;
			margin-bottom: 23px;
			&:last-child {
				margin-bottom: 0;
			}
			&__title {
				font-size: 16px;
				margin-bottom: 20px;
			}
			&__text {
				font-size: 14px;
				color: #898989;
				margin-bottom: 25px;
			}
			&__price-amount-wrap {
				padding: 15px;
				font-size: 16px;
				color: #464646;
				font-weight: bold;
				border: 1px solid #efefef;
			}
			&__wrap-price {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
			}
			&__delivery {
				margin-bottom: 30px;
				text-transform: uppercase;
				font-size: 12px;
				p {
					color: #898989;
				}
			}
			&__price {
				font-weight: 800;
				font-size: 18px;
			}
			&__bought, &__left {
				font-size: 12px;
				text-transform: uppercase;
			}
			&__bought {
				color: #464646;
			}
			&__left {
				color: #898989;
			}
		}
	}
	&__descr {
		width: 100%;
		max-width: 670px;
		&__title {
			font-size: 16px;
			margin-bottom: 30px;
		}
		&__image {
			margin-bottom: 40px;
		}
		p {
			margin-bottom: 32px;
			color: #363636;
			font-size: 16px;
		}
	}
	&__news {
		width: 100%;
		max-width: 650px;
		color: #363636;
		.news-user__share {
			float: right;
			span {
				border-bottom: 1px dotted #1a88cb;
			}
		}
		&__item {
			padding-bottom: 32px;
			border-bottom: 1px solid #ebebeb;
			margin-bottom: 40px;
		}
		&__top-info {
			display: flex;
			margin-bottom: 27px;
			font-size: 14px;
			color: #898989;
			time {
				display: block;
				padding-right: 13px;
				position: relative;
				margin-right: 7px;
				&::after {
					content: '';
					width: 4px;
					height: 4px;
					position: absolute;
					right: 0;
					background-color: #d7d7d7;
					border-radius: 50%;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
		&__title {
			font-size: 18px;
			margin-bottom: 7px;
		}
		&__image {
			margin-bottom: 35px;
		}
		&__text {
			margin-bottom: 17px;
		}
		&__social {
			display: flex;
			border: 1px solid #f7f7f7;
			padding: 6px;
			&-item {
				display: block;
				margin-right: 4px;
			}
			a {
				width: 30px;
				height: 30px;
				display: block;
				opacity: 0.6;
				background-repeat: no-repeat;
				&:hover {
					opacity: 1;
				}
			}
			.vk {
				background-image: url('../img/icons/vk2.svg');
			}
			.fb {
				background-image: url('../img/icons/fb.svg');
			}
			.tw {
				background-image: url('../img/icons/tw.svg');
			}
			.ok {
				background-image: url('../img/icons/ok.svg');
			}
			.my-world {
				background-image: url('../img/icons/mail.svg');
			}
			.google {
				background-image: url('../img/icons/google.svg');
			}
			.bird {
				background-image: url('../img/icons/Surfing-bird.svg');
			}
			.telegram {
				background-image: url('../img/icons/tela.svg');
			}
		}
		&__form-comment {
			display: flex;
			flex-direction: column;
			textarea {
				width: 100%;
				display: block;
				border: 1px solid #efefef;
				padding: 10px 14px;
				padding-right: 47px;
				resize: none;
				min-height: 55px;
				margin-bottom: 15px;
			}
			.input-group {
				position: relative;
  		}
  		.message-count-wrap {
  			bottom: 22px;
  		}
		}
		&__send-comment {
			align-self: flex-end;
			font-size: 14px;
			border: 0;
			color: #fff;
			text-transform: uppercase;
  		border-radius: 3px;
  		padding: 13px 37px;
  		background-color: rgb(26, 136, 203);
		}
	}
	&__comments {
		width: 100%;
		max-width: 653px;
		&__more {
			width: 100%;
			display: block;
			text-align: center;
			padding: 22px;
			background-color: transparent;
			border: 0;
			position: relative;
			text-transform: uppercase;
			color: #898989;
			&::after {
				content: '';
				width: 12px;
				height: 5px;
				position: absolute;
				left: 50%;
				bottom: 10px;
				transform: translateX(-50%);
				background-image: url('../img/icons/arrow-down.svg');
				background-repeat: no-repeat;
			}
		}
		&__wrap {
			display: flex;
			flex-direction: column;
		}
		&__item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 20px 0;
			border-top: 1px solid #ebebeb;
			color: #363636;
			&-avatar {
				width: 100%;
				max-width: 45px;
				margin-right: 37px;
				align-self: flex-start;
			}
			&-text-info {
				display: flex;
				margin-bottom: 5px;
			}
			&-name {
				display: block;
				margin-right: 8px;
				font-size: 14px;
				color: #1a88cb;
			}
			&-date 	{
				padding-right: 14px;
				position: relative;
				margin-right: 10px;
				&::after {
					content: '';
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background-color: #d7d7d7;
					position: absolute;
					right: 0;
					top: 35%;
					transform: translateY(50%);
				}
			}
			a {
				color: #2990ce;
				font-weight: 500;
			}
			&-inner-content {
				p {
					line-height: 24px;
					font-size: 14px;
				}
			}
		}
	}
	&__sponsors {
		width: 100%;
		max-width: 657px;
		&__list {
			display: flex;
			flex-direction: column;
			&-item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 29px;
			}
			&-info {
				display: flex;
				align-items: center;
			}
			&-avatar {
				margin-right: 15px;
			}
			&-name {
				margin-bottom: 12px;
				font-size: 16px;
				color: #464646;
			}
			&-address {
				font-size: 12px;
				font-style: normal;
				color: #c2c2c2;
				&::before {
					content: '\f041';
					width: 7px;
					height: 12px;
					font-family: 'FontAwesome';
					font-size: 12px;
					color: #c2c2c2;
					margin-right: 4px;
				}
			}
			&-date {
				color: #cccccc;
				font-size: 14px;
			}
		}
	}
}
.project-tab-active {
	outline: none;
	color: #363636;
	&::after {
		display: block;
	}
}
@media only screen and (max-width: 1035px) {
	.project__tabs-wrap {
		flex-direction: column;
	}
	.project .reminder-btn {
		order: -1;
		margin: auto;
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 991px) {
	.create-project .support-project,
	.detailes .data-title span {
		width: 100%;
		max-width: none;
		text-align: center;
	}
	.project__card-head-text,
	.project__card-inner-content,
	.project__tab-content-wrap,
	.project__tabs-btn-wrap {
		width: 100%;
		flex-direction: column;
	}
	.project__card-descr,
	.project__descr,
	.project__rewards,
	.project__tabs-btn,
	.project__tab-content,
	.project__card-left-banner,
	.project__card-center-banner,
	.project__card-right-banner,
	.project__card-right-banner .support-btn-proj {
		width: 100%;
		max-width: none;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.project__tabs-btn {
		justify-content: center;
	}
	.create-project .settings-page__table-data tr .data-title {
		padding-top: 0;
		padding-bottom: 0;
	}
	.tab-content-wrap-boxes {
		flex-direction: column;
	}
	.tab-content__left {
		width: 100%;
		max-width: none;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.mailing-lists {
		flex-direction: column;
	}
	.create-project {
		.mailing-lists__btn, .mailing-lists .save-data, .eye-close-up {
			width: 100%;
			margin-right: 0;
			margin-left: 0;
			margin-bottom: 20px;
		}
	}
	.eye-close-up {
			margin-bottom: 20px;
		}
}
@media only screen and (max-width: 950px) {
	.select-date + td label::before {
		left: 53px;
	}
	.create-project .settings-page__table-data .selectric .label {
		margin: 0 38px 0 56px;
	}
	.create-project .settings-page__table-data tr td .input-group .inp-label-link {
		left: 55px;
	}
	.create-project .settings-page__table-data tr td input {
		padding-left: 56px;
	}
	.settings-page__table-data tr .about-data {
		height: 160px;
	}
	.settings-page__table-data .social-list {
		padding: 7px 35px;
	}
	.projects-single__sidebar {
		flex-direction: column;
		padding: 15px 25px;
	}
	.mailing-lists {
		flex-direction: column;
		&__btn, .save-data {
			width: 100%;
		}
		&__btn {
			margin-bottom: 20px;
		}
	}
	.settings-page__table-data tr td .input-group .inp-label-link {
		left: 77px;
	}
	.settings-page__table-data tr td {
		width: 100%;
		display: block;
		padding-left: 38px;
		border-bottom: 0;
		textarea {
			height: 160px;
		}
	}
	.settings-page__table-data tr .data-title {
		padding-left: 78px;
		width: 100%;
		line-height: 45px;
	}
	.settings-page__table-data tr {
		width: 100%;
		display: block;
		.data-inputs {
			height: auto;
			padding: 0;
		}
	}
	.settings-page__table-data tr td input {
		padding-left: 75px;
	}
	.settings-page__table-data .selectric .label {
		margin: 0 38px 0 75px;
	}
}
@media only screen and (max-width: 771px) {
	.create-project .tab-wrap,
	.main-content-tabs__wrap {
		max-width: none;
		margin-right: 0;
		flex-direction: column;
		.main-content-tabs__wrap-btn {
			width: 100%;
		}
	}
	.main-content-tabs__right-text {
		order: -1;
		margin-bottom: 20px;
	}
	.projects-rewards__item {
		width: 100%;
		margin-right: 0;
	}
	.personal-area {
		&__info {
			flex-direction: column;
			&-score {
				width: 100%;
				max-width: none;
			}
		}
	}
	.progects-user {
		margin-bottom: 30px;
	}
	.support-progects__list {
		flex-direction: column;
		.support-progects__list-item {
			max-width: none;
		}
	}
}

@media only screen and (max-width: 562px) {
	.progects-user__item-progect {
		flex-direction: column;
		align-items: center;
	}
	.news-user {
		padding: 0 20px;
	}
	.main-content-tabs__wrap {
		flex-direction: column;
		.main-content-tabs__wrap-btn {
			width: 100%;
		}
	}
	.project__news__top-info,
	.news-user__links {
		flex-direction: column;
	}
	.project__card-title {
		font-size: 24px;
	}
	.project__news__top-info time::after {
		right: 320px;
	}
	.news-user__more {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	.project__news .news-user__share {
		float: none;
	}
	.news-user__links {
		align-items: flex-start;
	}
	.project__news__send-comment {
		width: 100%;
	}
	.project__news__social {
		flex-wrap: wrap;
	}
	.project__news__social-item {
		margin-bottom: 10px;
	}

}

@media only screen and (max-width: 370px) {
	.project__sponsors__list-item,
	.project__comments__item {
		flex-direction: column;
	}
	.project__comments__item-avatar {
		margin-right: 0px;
		margin-bottom: 15px;
	}
	.personal-area__info-user {
		flex-direction: column;
		.personal-area__info-user-avatar {
			margin-right: 0;
			margin-bottom: 20px;
		}
		.personal-area__info-user-wrap-text {
			margin-bottom: 20px;
		}
	}
}