.social {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 -12px;

	&__item {
		padding: 0 12px;
	}

	&__ico {
		display: block;
		width: 24px;
		height: 26px;
	}
}

// social


.open-menu {
	display: none;
	margin-left: auto;

	@include media($screen-sm) {
		display: block;
	}

	&__btn {
		display: block;
		width: 30px;
		height: 30px;
	}

	&__line {
		position: relative;

		display: block;
		width: 100%;
		height: 1px;

		background-color: $white;

		&::after, &::before {
			content: '';
			position: absolute;
			left: 0;

			display: block;
			width: 100%;
			height: 1px;
			background-color: currentColor;

			transition: transform .4s;
		}

		&::before {
			margin-top: -6px;
		}

		&::after {
			margin-top: 6px;
		}
	}

	&--active {

		.open-menu__line {
			background-color: transparent;
		}

		.open-menu__line::after {
			transform: rotate(45deg);
			margin: 0;
		}

		.open-menu__line::before {
			transform: rotate(-45deg);
			margin: 0;
		}
	}
}
// open-menu

.logo {
	display: block;
	width: 100%;
	max-width: 286px;
	height: 81px;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 2px solid $brand-color;

	&__text {
		color: $brand-color;
		font-size: 30px;
		text-align: center;
		font-family: 'HelveticaNeueCyr', sans-serif;
	}
}

// logo

.nav {

	&__list {
		display: flex;
		align-items: center;
		margin-right: -25px;
		margin-left: -25px;

		@include media(1024px) {
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	&__item {
		padding: 0 25px;

		@include media(1024px) {
			padding: 0 15px;
		}
	}

	&__link {
		position: relative;

		display: block;
		padding: 20px 0px;

		text-transform: uppercase;
		color: $brand-color;
		font-size: 13px;
		font-weight: 400;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;

			display: block;
			width: 100%;
			height: 2px;

			background-color: currentColor;

			transform: scale(0);

			transition: transform $anim;
		}

		&:hover, &:active, &:focus {

			&::before {
				transform: scale(1);
			}
		}
	}
}

// nav

.home-slider {
	width: 100%;

	&__item {
		position: relative;

		width: 100%;
	}

	&__img {
		position: relative;

		width: 100%;
		display: block;
		padding-bottom: 52.1%;

		@include media(500px) {
			padding-bottom: 90%;
		}
	}

	&__pic {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		object-fit: cover;
	}

	&__text-wrap {
		position: absolute;
		left: 0;
		top: 50%;
		z-index: 2;

		width: 100%;
		min-height: 171px;
		padding: 0 73px;
		padding-top: 30px;
		padding-bottom: 13px;

		color: $white;

		background-color: rgba(0, 0, 0, 0.6);

		transform: translateY(-50%);

		@include media(500px) {
			padding: 10px;
			min-height: 0;
		}
	}

	&__title {
		width: 100%;
		max-width: 490px;
		margin-bottom: 7px;

		font-size: 51px;
		font-weight: 200;

		@include media($screen-sm) {
			max-width: none;

			font-size: 26px;
		}

	}

	&__title-block {
		display: block;
	}

	&__subtitle {
		font-size: 13px;
		font-weight: 400;
	}

	.slick-dots {
		bottom: 20px;
	}

	.slick-dots li button:before {
		display: none;
	}

	.slick-dots li button {
		border-radius: 50%;
		background-color: transparent;
		border: 2px solid $white;
	}

	.slick-dots li button:focus, .slick-dots li button:hover {
		background-color: $white;
	}

	.slick-dots li, .slick-dots li button {
		width: 13px;
		height: 13px;
	}

	.slick-dots .slick-active button {
		background-color: $white;
	}
}

// home-slider

.page-section {
	padding: 35px 0;

	&__title {
		margin-bottom: 10px;
	}
}
// page-section

.page-title {
	display: block;

	font-weight: 200;
	text-transform: uppercase;
	color: $brand-color;
	font-size: 24px;
}

// page-title


.product-list {
	position: relative;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: -4px;
	padding-top: 15px;
	padding-bottom: 15px;

	&__item {
		width: calc(100% / 5);
		padding: 4px;

		@include media($screen-sm) {
			width: calc(100% / 2);
		}

		@include media($screen-xs) {
			width: 100%;
		}

		&--big {
			width: calc(100% / 2);

			@include media($screen-sm) {
				width: 100%;
			}

		}

	}

	&--line {
		padding-top: 0;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;

			display: block;
			width: 598px;
			height: 1px;

			background-color: #bfbfbf;

			transform: translateX(-50%);

			@include media($screen-sm) {
				width: 100%;
			}
		}
	}

}
// product-list

.product {
	position: relative;

	width: 100%;
	display: block;

	&--big {

		.product__title {
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 2;

			width: 100%;
			padding: 10px;

			font-size: 48px;

			transform: translate(-50%, -50%);

			@include media($screen-sm) {
				font-size: 30px;
			}

		}

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;

			width: 100%;
			height: 100%;

			background-color: rgba(0, 0, 0, 0.6);

			transition: background-color .3s;
		}

		&:hover {

			&::before {
				background-color: rgba(0, 0, 0, 0.3);
			}
		}
	}
	
	&__pic-wrap {
		position: relative;

		width: 100%;
		padding-bottom: 95.4%;

			@include media($screen-sm) {
				padding-bottom: 80%;
			}

		&--big {
			padding-bottom: 50.3%;

			@include media($screen-sm) {
				padding-bottom: 80%;
			}

		}

	}

	&__pic {
		position: absolute;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;

		object-fit: cover;
	}

	&__text {
		position: absolute;
		left: 0;
		bottom: 0;

		width: 100%;
		padding: 19px;
		height: 52px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		background-color: rgba(0, 0, 0, 0.6);
	}

	&__title {
		display: block;

		font-weight: 200;
		text-transform: uppercase;
		color: $white;
		font-size: 12px;
		text-align: center;
		line-height: 18px;
	}
}
// product