@media only screen and (max-width: 1400px) {
  .news_wrap .arrow_right {
    display: none; }
  .news_wrap::before {
    display: none; } }

@media only screen and (max-width: 1250px) {
  .header_lines img {
    max-width: 80%; }
  .header_lines a {
    top: -15%; } }

@media only screen and (max-width: 1199px) {
  .description_items:nth-child(1)::before {
    top: -42%;
    margin-right: 10px; }
  .description_items:nth-child(2)::before {
    width: 100%;
    left: 3%; }
  .description_items:nth-child(3)::before {
    width: 100%;
    left: 2%;
    top: -38%;
    -webkit-background-size: cover;
            background-size: cover; }
  .logo img {
    height: inherit;
    padding-top: 13px; }
  .tabs_body .info_list {
    margin-right: 40px; }
  nav a {
    padding-right: 27px;
    padding-left: 27px; }
  .contacts:nth-child(1) {
    margin-left: 10px; }
  .logo_color a {
    margin: 0; } }

@media only screen and (max-width: 991px) {
  .header_lines {
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
    .header_lines img {
      max-width: 100%; }
  .description_items {
    margin-bottom: 160px;
    text-align: center; }
    .description_items:nth-child(1) ul {
      margin: 0;
      margin-bottom: 20px; }
    .description_items:nth-child(1) a {
      width: auto;
      margin: auto; }
    .description_items:nth-child(1)::before {
      width: 100%;
      top: -42%;
      left: 1%;
      -webkit-transform: translateX(-10%);
          -ms-transform: translateX(-10%);
              transform: translateX(-10%);
      margin-right: 0; }
    .description_items:nth-child(2)::before {
      width: 100%;
      left: -5%;
      top: -20%;
      -webkit-background-size: cover;
              background-size: cover; }
    .description_items:nth-child(3) p {
      margin-bottom: 30px; }
    .description_items:nth-child(3) a {
      width: auto;
      margin: auto; }
    .description_items:nth-child(3) h2 {
      padding-top: 150px; }
    .description_items:nth-child(3)::before {
      width: 100%;
      left: 10%;
      top: 10%;
      -webkit-background-size: cover;
              background-size: cover; }
  footer .card {
    text-align: center; }
    footer .card img {
      float: none;
      text-align: center;
      margin: auto; }
  .footer_descr {
    text-align: right; }
  .footer_links {
    text-align: center;
    padding-top: 30px; }
  .soc_links .links_item {
    height: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .tabs_body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .tabs_body a {
      margin-bottom: 20px;
      width: 100%;
      text-align: center; }
    .tabs_body .info_list {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
      text-align: center; }
  .sber_bank {
    margin: auto;
    text-align: center; }
  .url_bank {
    text-align: center; }
  .head_news {
    -webkit-background-size: cover;
            background-size: cover; }
  .head_two_rotate {
    float: none;
    text-align: center; }
  .link_wrapper {
    float: none;
    text-align: center;
    margin-bottom: 60px; }
  .about .about_text {
    text-align: center; }
    .about .about_text a {
      text-align: center;
      max-width: none; }
  .gimn .video_link {
    text-align: center; }
  .gimn .lissen_gimn {
    text-align: center;
    margin-bottom: 50px; }
    .gimn .lissen_gimn a {
      margin: 0; }
  .contacts {
    max-width: none;
    margin: 0;
    width: 100%;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px; }
    .contacts:nth-child(1) {
      margin-right: 0; }
  .tel_me {
    max-width: none;
    width: 100%; }
  .logo_color {
    text-align: center;
    margin-bottom: 10px; }
  .logo a {
    float: none; }
  .logo img {
    padding: 0;
    height: 60px; } }

@media only screen and (max-width: 900px) {
  .form_revers {
    width: 100%; }
  .reservation h2 {
    font-size: 25px; }
  .reservation button {
    max-width: none;
    margin-left: 0;
    font-size: 16px; }
  .reservation input {
    width: 100%;
    max-width: none; }
  .selectric {
    max-width: none; }
  .form_inputs img {
    left: 3%; }
  .send {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .radio_check label {
    margin-left: 0; } }

@media only screen and (max-width: 767px) {
  .social_fixed {
    display: none; }
  .description_items:nth-child(1) h2 {
    max-width: 240px;
    margin: auto;
    margin-bottom: 20px; }
  .description_items:nth-child(1)::before {
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%; }
  .button_controlls {
    width: 100%; }
  footer {
    text-align: center; }
  .footer_descr {
    text-align: center;
    padding-top: 30px; } }

@media only screen and (max-width: 580px) {
  .fon {
    width: 100%; }
    .fon .tel_me_popup {
      max-width: none; }
      .fon .tel_me_popup h2 {
        font-size: 25px; }
      .fon .tel_me_popup form button {
        font-size: 16px; }
      .fon .tel_me_popup form label::before {
        top: -60%;
        left: 50%; }
      .fon .tel_me_popup form input {
        max-width: none;
        width: 95%; }
  .check_label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media only screen and (max-width: 580px) {
  .description_items:nth-child(3) h2 {
    padding-top: 230px; }
  .description_items:nth-child(3) p {
    margin: 0; }
  .description_items:nth-child(3)::before {
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%; }
  .description_items:nth-child(2) h2 {
    padding-top: 70px; } }
