@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/LatoThin.woff2') format('woff2'),
  url('../fonts/Lato/LatoThin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/LatoLight.woff2') format('woff2'),
  url('../fonts/Lato/LatoLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/LatoRegular.woff2') format('woff2'),
  url('../fonts/Lato/LatoRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff2') format('woff2'),
  url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}



