//fonts
$default-font:                'Lato', sans-serif;

//general-color
$brand-color:   #002258;
$main-color:    #f5f5f5;
$white: #fff;
$black:     		#000;
$font-color:    #434343;
$font-color-two: #393939;
$font-size: 14px;
$gutter: 15px;



//media
$screen-max:    1600px;
$screen-lg-max: 1366px;
$screen-lg:     1200px;
$screen-md-max: 1025px;
$screen-md:     992px;
$screen-sm:     768px;
$screen-xs:     480px;

//other
$anim: .3s;
$radius: 5px;

