html {
  font-size: 16px;
  scroll-behavior: smooth;


  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: flex;
    flex-direction: column;
  }
}

body {
  display: flex;
  flex-direction: column;
  background-color: $main-color;
  font-family: $default-font;
  color: $font-color;
  font-weight: 400;
}

.container {
  max-width: 1000px;
  padding: 0 $gutter;
  margin: 0 auto;
}

.wow {
  will-change: transform, vidible, opacity;
}

// @supports(max-width: env(safe-area-inset-left)) {
//   .container {
//     max-width: calc(100% - env(safe-area-inset-left)*2);
//   }
// }
