//fonts
$default-font:                'Roboto', sans-serif;

//general-color
$brand-color:   #fe8708;
$brand-two:     #232a33 ;
$main-color:    #fff;
$black:     #000;
$font-color:    #333;
$gutter: 15px;

//media
$screen-max:    1600px;
$screen-lg-max: 1366px;
$screen-lg:     1200px;
$screen-md-max: 1025px;
$screen-md:     992px;
$screen-sm:     768px;
$screen-xs:     480px;

//other
$anim: .3s;
$radius: 5px;

