
@media only screen and (max-width: 1200px) {
    .cont_price {
    	-webkit-flex-direction: column;
    	-moz-flex-direction: column;
    	-ms-flex-direction: column;
    	-o-flex-direction: column;
    	flex-direction: column;
    	justify-content: center;
    	-ms-align-items: center;
    	align-items: center;
    }

    .cont_block-price  {
    	text-align: center;
    }
     .cont_block-price h2{
      padding-top: 40px;
     }
    .photo_price img {
    max-width: 840px;


	min-height: 990px;
	position: absolute;
  
    transform:translate(-50%, -4%);
	

}



}
@media only screen and (max-width: 1190px) {
   .adwantages_item_one  {
      padding-right: 15px;
      padding-left: 15px;
    }
    .adwantages_item_two  {
      padding-right: 15px;
      padding-left: 15px;
    }
}

@media only screen and (max-width: 1180px) {
    .about_us {
      padding-right: 25px;
      padding-left: 25px;
    }
    .about_us_button {
      padding-right: 20px;
    }
    #team h3 {
      padding-left: 20px;
    }
}
@media only screen and (max-width: 1169px) {
   .cont_info_agency {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
   -ms-align-items: center;
   align-items: center;
   }
   .one_block_info h3 {
    padding-top: 60px;
   }
   .info_agency_items {
    margin-left: 0;
    padding-right: 15px;
    padding-left: 15px;
   }
   .info_agency_items p {
  color: #e1e1e1;
  font-size: 13px;
}
}


@media only screen and (max-width: 1139px) {
  .adwantages_item_one  {
      padding-right: 0;
      padding-left: 0;
    }
    .adwantages_item_two  {
      padding-right: 0;
      padding-left: 0;
    }
    .adwantages_item_three {
      margin: auto;
    }
} 

@media only screen and (max-width: 1109px) {
	.team_info_item:last-child {
		margin: auto;
	}
	.cont_block {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		align-items: center;
	}
  .info_progects p  {
    margin-left: 0;
    text-align: center;
  }
  #progects {
    margin-bottom: 50px;
  }
	.info_progects .header_top_button {
		
		margin: 0;
		align-self: center;
	}
}

@media only screen and (max-width: 1099px) {
    .footer_one_container {
    	justify-content:center;
    }
    .footer_logo_agency {
    	margin-right: 40px;
    }
    .footer_two_block {
    	margin-left: 40px;
    }
    .footer_three_block {
    	margin: auto;
    }
    .footer_two_container {
      margin-bottom: 50px;
    }
}


@media only screen and (max-width: 967px) {
    .header_top {
      min-height: 750px;
    }
}
@media only screen and (max-width: 909px) {

      .footer_one_container {
        -webkit-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        -o-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        align-items: center;
      }
    .footer_logo_agency {
      
      margin: 0;
      text-align: center;
      margin-bottom: 40px;
    }
    .footer_two_block {
      margin:0 ;
      text-align: center;
      width: 50%;
      margin-bottom: 40px;
    }
    .footer_two_block h4 {
      margin-bottom: 20px;
    }
    .footer_three_block {
      margin:0;
      text-align: center;
      max-width: none;
      width: 50%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      justify-content: center;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
    }
    .footer_three_block h4 {
      margin-bottom: 20px;
    }
    .footer_contacts {
      text-align: center;
      justify-content: center;
      max-width: 220px;
      width: 100%;
      -ms-align-self: center;
      align-self: center;
    }
    .soc_buttons {
      margin: auto;
    }
}


@media only screen and (max-width: 864px) {
	 .navbar {
	 	display: none;
	 }
   .header_top_line {
    
    padding-top: 20px;
    padding-bottom: 20px;
    -ms-align-items: center;
    align-items: center;
    position: fixed;
    top: 0;
    background: linear-gradient( to  top  ,rgba(222, 60, 159, 0.9) 20%,   rgba(222, 58, 72, 0.9) 70%);
    z-index: 10002;
}
.menu_link {
  -webkit-order: 1;
  -moz-order: 1;
  -ms-order: 1;
  -o-order: 1;
  order: 1;
  padding-right: 20px;

}


}
@media only screen and (min-width: 864px) {
    .menu_link {
    	display: none;
    }
    .modal_menu {
      display: none;
    }
}


@media only screen and (max-width: 850px) {
     .photo_price img {
         max-width: 600px;
         min-height: 400px;
          transform:translate(-50%, 14%);

}
}
@media only screen and (max-width: 750px) { 
	.team_info {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

	}
	.team_info_item {
		margin-bottom:25px;
	}
}
@media only screen and (max-width: 739px) {
        .header_top {
          min-height: 800px;
        }
}

@media only screen and (max-width: 670px) {
    .one_block_info {
      padding-right: 15px;
      padding-left: 15px;
    }
   .one_block_info h3 {
    padding-top: 60px;
   }
   .cont_info_list_agency {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    margin-bottom: 40px;
   }
   .info_agency_items p {
  color: #e1e1e1;
  font-size: 13px;
}
.info_agency_items {
  text-align: center;
  max-width: 60%;
}
.one_block_info {
  text-align: center;
}
}
@media only screen and (max-width: 669px) {
     .adwantages {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      justify-content: center;
      -ms-align-items: center;
      align-items: center;
     }
     .adwantages_item_two {
      margin-bottom: 80px;
     }
     .adwantages_item_three p {
      font-size: 12px;
     }
}
@media only screen and (max-width: 620px) {
   .header_top {
          min-height: 850px;
        }
        .head_one_screen h1 {
          font-size: 40px;
        }
}
@media only screen and (max-width: 580px) {
      .photo_price img {
         max-width: 500px;
         min-height: 400px;
          transform:translate(-50%, 14%);

}
.photo_price {
	min-height: 600px;
}
}
@media only screen and (max-width: 520px) {
      .about_us p {
  margin-top: 30px;
  font-size: 25px;
}
      .about_us_button {
        justify-content: center;
        padding: 0;
      }
}
@media only screen and (max-width: 500px) {
      .photo_price img {
         max-width: 400px;
         min-height: 400px;
          transform:translate(-50%, 14%);

}
.photo_price {
	min-height: 500px;
}
.footer_logo_agency p {
  font-size: 12px;
  padding-right: 15px;
  padding-left: 15px;
}
}
@media only screen and (max-width: 480px) {
       .cont_block-price p{
      font-size: 16px;
     }
}
@media only screen and (max-width: 408px) {
   .footer_contacts {
    max-width: 210px;
    width: 150%;
   }
}
@media only screen and (max-width: 400px) {
.one_block_info h3 {
    font-size: 30px;
   }
   .one_block_info p {
    font-size: 16px;
   }
   .head_one_screen h1 {
    font-size: 35px;
    padding-right: 10px;
    padding-left: 10px;
   }
}
@media only screen and (max-width: 390px) {
      .photo_price img {
         max-width: 300px;
         min-height: 300px;
          transform:translate(-50%, 14%);

}
.photo_price {
	min-height: 400px;
}
}
@media only screen and (max-width: 350px) {
  .adwantages_item_one  {
      margin-left: 20px;
      margin-left: 20px;
    }
    .adwantages_item_two  {
      margin-right: 20px;
      margin-left: 20px;
    }
    .p_item {
      padding-right: 10px;
      padding-left: 10px;
    }
   
} 

@media only screen and (max-width: 340px) {
      .about_us p {
  margin-top: 30px;
  font-size: 20px;
}
     
}
@media only screen and (max-width: 334px) {
 
    .social_buttons {
      -webkit-order: 2;
      -moz-order: 2;
      -ms-order: 2;
      -o-order: 2;
      order: 2;
      max-width: 100%;
      width: 100%;
      text-align: center;

   
    }
    .icon-facebook {
  font-size: 15px;
  color: #ffffff;
}
.icon-twitter {
  font-size: 15px;
  color: #ffffff;
}
.icon-gplus-1 {
  font-size: 15px;
  color: #ffffff;
}
}