body {
	overflow-x: hidden;
	z-index: 10;
}
.wrapper {
	width: 100%;
	max-width: 1170px;
	margin:auto;
	
}
.header_top {
	width: 100%;
	background-image: url('../img/header_background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 681px;
	padding-top: 30px;
	font-family: 'Poppins', sans-serif;
	overflow: hidden;

}
.header_top_line {

	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

}
.logo {
	max-width: 135px;
	width: 100%;
	

}
.logo img {
	margin-left: 35px;

}
.navbar {
	max-width: 600px;
	width: 100%;
}
.menu_header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.menu_header  a {
	color: #ffffff;
	font-weight: bold;
	display: block;
	position: relative;
	
}
.menu_header a::after {
	content: '';
   width: 3px;
   height: 2px;
   background:transparent;
    -webkit-transition: .7s;
   -o-transition: .7s;
   transition: .7s;
   position: absolute;
   left: 50%;	
   bottom: 0;
   transform: translateX(-50%);
  
}
.menu_header a:hover::after {
	
	width: 100%;
	background: #fd3e54;
}

.social_buttons {
	max-width: 100px;
	width: 100%;
	
}
.icon-facebook {
	font-size: 20px;
	color: #ffffff;
}
.icon-twitter {
	font-size: 20px;
	color: #ffffff;
}
.icon-gplus-1 {
	font-size: 20px;
	color: #ffffff;
}
.one_screen {
	width: 100%;
	margin-top: 55px;
	color: #ffffff;
	text-align: center;

}
.head_one_screen {
	
}
.head_one_screen h4 {
	font-size: 25px;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
  margin-top: 150px;
  margin-bottom: 40px;

}
.head_one_screen h1 {
	font-size: 50px;
	font-weight: 900;
	line-height: 1.2;
	margin-bottom: 85px;
}
.header_top_button {
	max-width: 180px;
	width: 100%;
	border: none;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 47px;
	padding-left: 47px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	background: linear-gradient( to  right , #ff33cc 2%, #fd3e4f 50%);
}
#about {
	width: 100%;
	background: linear-gradient( to  right , #ff33cc 2%, #fd3e4f 50%);
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
	padding-bottom: 80px;
}
.about_us {
	width: 100%;
}
.about_us h2 {
	font-size: 40px;
   font-weight: bold;
   padding-top: 75px;
}
.about_us p {
	margin-top: 30px;
	font-size: 35px;
}
.about_us_button {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
	margin-top: 40px;

}
.about_us_button a {
	display: block;
	max-width: 200px;
	width: 100%;
	color: #ffffff;
	border: 2px solid #ffffff;
	border-radius:60px;
	background: transparent;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 35px;
	padding-left: 35px;
	font-size: 20px;
	font-weight: bold;

}
.about_us_button a::after {
	font-family: "fontello";
	content: '\e807';
	width: 20px;
	height: 20px;
	margin-left: 25px;
	font-size:20px;
}
.adwantages_section {
	width: 100%;
	background: #ffffff;
}
.adwantages_section h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #5c5c5c;
}
.adwantages_section p {
	margin-top: 30px;
	color: #7b7b7b;
	font-size: 14px;
	font-family: 'Playfair Display', sans-serif;
	width: 100%;
	max-width: 300px;
}
.adwantages_section h1 {
       color: #ffffff;
       font-size: 60px;
       font-weight: bold;
       font-family: 'Poppins', sans-serif;
       margin-top: 50px;
       margin-left: 25px;
}
.adwantages {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	
	
	

}

.adwantages_item_one {
	max-width: 300px;
	width: 100%;
	margin-top: 100px;
	padding-bottom: 107px;
	position: relative;
	z-index: 500;
	 


}
.adwantages_item_two {
    max-width: 300px;
	width: 100%;
	margin-top: 100px;
	margin-left: 30px;
	position: relative;
	z-index: 500;
}
.adwantages_item_three {
	max-width: 400px;
	width: 100%;
	margin-left: 70px;
	background: linear-gradient( to  bottom left ,#ff33cc  10%,  #fd3e4f 70%);
}

.adwantages_item_three h3 {
	color: #ffffff;
	 margin-left: 25px;
}
.adwantages_item_three p {
	width: 100%;
	max-width: 300px;
    margin-bottom: 70px;
    text-align: left;
    padding-right: 20px;
}
.p_item {
	width: 100%;
	max-width: 300px;
	margin-top: 30px;
	color: #ffffff;
	text-align: left;
	 font-size: 14px;
	 position: relative;
	 z-index: 100;
	 
	 
}
.span_one {
	position: absolute;
	font-size: 170px;
	top: 1%;
	left: -1%;
	font-family: sans-serif;
	font-weight: bold;
	color: #ffe8ea;
	z-index: 9;
	   	
   
   
}
.span_two {
	position: absolute;
	font-size: 170px;
	top: 1%;
	left: -1%;
	font-family: sans-serif;
	font-weight: bold;
	color: #ffe8ea;
	z-index: 9;
}
#team {
	margin-bottom: 200px;
}
#team h3 {
   color: #222222;
   font-family: 'Poppins', sans-serif;
   font-size: 40px;
   margin-top: 80px;
   margin-bottom: 90px;
}
.team_info {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	font-family: 'Poppins', sans-serif;
}

.team_info_item {
	max-width: 370px;
	width: 100%;
	text-align: center;
	position: relative;

	

}
.seo {
	width: 377px;
	background: linear-gradient( to  top  ,rgba(222, 60, 159, 0.9) 20%,   rgba(222, 58, 72, 0.9) 70%);
    display: none;
	text-align: center;
	position: absolute;
	top: 0.1%;
	right: -2.4%;
	max-height: 455px;
	cursor: pointer;
	border-radius: 5px;
	
    



}
.seo h4 {
	color: #ffffff!important;
	font-size: 20px;
	margin-top: 205px;

	


	
}
.seo span {
	color: #ffffff!important;
	

}
.team_info_item:last-child:hover .seo {
    display: block;

 }
.team_info_item img {
	min-height: 455px;
	border-radius: 5px;
	max-width: 100%;
}
.team_info_item h4 {
	color: #222222;
	font-size: 20px;
}
.team_info_item span {
	font-family: 'Playfair Display', sans-serif;
	color: #9a9a9a;
	font-size: 16px;

}
.adwantages_item_three p {
    width: 100%;
	max-width: 300px;
	margin-top: 30px;
	color: #ffffff;
	 font-size: 14px;
	  margin-left: 25px;
}
#progects {
	width: 100%;
	margin-bottom: 200px;
	font-family: 'Poppins', sans-serif;

}

.cont_block {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.cont_progects_text {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.photo_screen_progects {
	max-width: 700px;
	width: 100%;
}
.photo_screen_progects img {
     max-width: 100%;
     height: 500px;
}
.info_progects {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	align-items: flex-start;
}
.info_progects h2 {
	color: #222222;
	font-size: 40px;
	margin-bottom: 40px;
	margin-left: 40px;
}
.info_progects span {
	color: #fd3e4f;
}
.info_progects p {
	margin-bottom: 40px;
	margin-left: 40px;
	color: #717171;
	font-size: 20px;
}
.info_progects .header_top_button {
	margin-left: 40px;
	padding-right: 0;
	padding-left: 0;
}
#price_section {
	width: 100%;
	background: #f4f4f4;
	min-height: 760px;
	font-family: 'Poppins', sans-serif;

	
}
.cont_price {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	-ms-align-items: center;
	align-items: center;

	
}

