.cont_block-price {
	max-width: 600px;
	width: 100%;
	min-height: 415px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;

	
}
.cont_block-price h2 {
	margin-bottom: 70px;
	color: #222222;
	font-size: 40px;
}

.cont_block-price span {
	color: #fd3e4f;
}
.cont_block-price p {
	
	color: #717171;
	font-size: 20px;
}
.cont_block-price p:last-child {
	margin-top: 40px;
}
.photo_price {
	max-width: 200px;
	min-height: 800px;
	position: relative;


	


	
}
.photo_price img {
    max-width: 840px;
	min-height: 990px;
	position: absolute;
  
    transform:translate(-27%, -10%);
	

}
#section_agency_info {
	width: 100%;
	background: #222222;
	min-height: 695px;
	font-family: 'Poppins', sans-serif;
}
.cont_info_agency {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	min-height: 695px;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.one_block_info {
	max-width: 400px;
	width: 100%;
}

.one_block_info h3 {
	font-size: 40px;
	color: #ffffff;
	margin-bottom: 45px;
}
.one_block_info span {
	color: #fd3e4f;
}
.one_block_info p {
	color: #dfdfdf;
	font-size: 20px;
}
.cont_info_list_agency {
	max-width: 770px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;


}
.info_agency_items h3 {
   color: #ffffff;
   font-size: 20px;
}
.info_agency_items img {
	margin-bottom: 10px;
}
.info_agency_items p {
	color: #e1e1e1;
	font-size: 14px;
}
.info_agency_items {
	max-width: 40%;
	min-height: 250px;
	margin-left: 40px;
	margin-top: 40px;
}
#footer {
	width: 100%;
	background: #ffffff;
	min-height: 500px;
	font-family: 'Poppins', sans-serif;
}
.footer_one_container {
	margin-top: 85px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.footer_logo_agency {
	max-width: 530px;
	width: 100%;
}
.footer_logo_agency img {
	margin-bottom: 40px;
}
.footer_logo_agency p {
	color: #525151;
	font-size: 14px;
	line-height: 2.3;
}
.footer_two_block {
	max-width: 300px;
	width: 100%;
}
.footer_two_block h4 {
	font-size: 18px;
	color: #222222;
	margin-bottom: 50px;
}
.footer_two_block h5 {
	font-size: 16px;
	color: #fd3e4f;
}
.footer_two_block span {
	font-size: 14px;
	color: #222222;
	display: block;
	margin-bottom: 20px;
}
.footer_two_block p {
	font-size: 14px;
	color: #222222;
}
.footer_three_block {
	max-width: 270px;
	width: 100%;
}
.footer_three_block h4 {
	font-size: 18px;
	color: #222222;
	margin-bottom: 50px;
}
.footer_three_block p {
	font-size: 14px;
	color: #222222;
	margin-bottom: 20px;
}
.footer_contacts {
	max-width: 220px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-start;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 30px;
	
}
.footer_contacts span {
	font-size: 12px;
}
.footer_contacts .icon-mail {
	color: #fe7dae;
	font-size: 20px;
	margin-right: 5px;
}
.footer_contacts .icon-phone {
	color: #fe7dae;
	font-size: 20px;
	margin-right: 5px;
}
.soc_buttons {
	max-width: 130px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}
.soc_buttons .icon-gplus-1 {
	color: #fd3e4f;
}
.soc_buttons span {
	color: #fd3fb3;
}
.footer_two_container {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-top: 100px;
}
.footer_two_container p {
   font-size: 14px;
   font-weight: bold;
   color: #fd3fb3;
}
.footer_two_container span {
	 color: #fd3e4f;
}
.menu_link {
	 max-width: 100px;
}
.menu_link_button {
	display: block;
	width: 50px;
	height: 50px;
	background: transparent;
	position: relative;
}
.span_link_two {
	 display: block;
      height: 2px;
      width: 25px;
      background: white;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -9px;
      margin-top: -6px;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; 
}
.span_link_three {
	 display: block;
      height: 2px;
      width: 25px;
      background: white;
      position: absolute;
       left: 50%;
      top: 50%;
      margin-left: -9px;
      margin-top: 4px;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
}
.span_link {
      display: block;
    height: 2px;
      width: 25px;
      background: white;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -9px;
      margin-top: -1px;
}
.span_link_active {
	background: transparent;
}
.one_link_active {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: 0;
}
.two_link_active {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: 0;
}
.modal_menu {
	width: 100%;
	background: rgba(81,10,118,0.9);
	height: 100vh;
	position: fixed;
	-webkit-transition: all 900ms;
	-o-transition: all 900ms;
	transition: all 1000ms;
	top: -500vw;
	font-family: sans-serif;
	z-index: 1001;
}
.modal_menu ul {
	text-align: center;
	width: 100%;
	margin: auto;
	margin-top: 120px;
}
.modal_menu ul li a  {
     display: block;
     font-weight: 150;
     letter-spacing: 4px;
    color: #ffffff;
    font-size: 23px;
    line-height: 3;
    width: 100%;
    -webkit-transition:all 7ms;
    -o-transition:all 7ms;
    transition: all 7ms;
}
.modal_menu a:hover {
	background: #ffffff;
	color: black;
}
.modal_menu_active {
	top: 0;
}

