.footer-page {
  margin-top: auto;
  padding: 15px 0px;

  background-color: $main-color;

  &__row {
  	display: flex;
  	align-items: center;
  	flex-direction: column;
  	margin-left: -$gutter;
  	margin-right: -$gutter;

  	@include media-min($screen-xs) {
  		flex-direction: row;
  	}
  }

  &__item {
  	width: 100%;
  	display: flex;
  	justify-content: center;
  	margin-bottom: 15px;
  	padding: 0 $gutter;

  	&:last-child {
  		margin-bottom: 0;
  	}
		
		@include media-min($screen-xs) {
			width: calc(100% / 2);
			justify-content: flex-start;
			margin-bottom: 0;
		}
 
  }

  &__contacts-info {
  	display: flex;
  	justify-content: center;

  	@include media-min($screen-xs) {
  		justify-content: flex-end;
  	}
  }

  &__soc-link {
  	color: $brand-two;
  }

  &__contact-link {
  	justify-content: center;

  	color: $brand-two;
    font-size: 14px;

  	@include media-min($screen-xs) {
  		justify-content: flex-start;
  	}
  }

  &__contact-ico {
  	color: currentColor;
    width: 22px;
    height: 22px;
  }

  &__soc-ico {
    width: 27px;
    height: 27px;
  }

}
