@media only screen and (max-width: 1105px) {
    .navigation_menu {
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media only screen and (max-width: 1101px) {
   
   .port_cont {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
   }
   .portfolio_list {
    margin: 0;
   }
   .ul_portfolio  {
    width: 70%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    margin: auto;
      margin-bottom: 20px;
   }
   .link_portfolio {
    font-size: 13px;
   

   }
  
   .grid {
    width: 100%;
   }
   .grid .grid-item {
    max-width: none;
    width: 45%;
    float: right;
    margin: auto;
   }
   #portfolio {
    padding-left: 0;
    padding-right: 0;
   }
   #portfolio .head_after {
    padding: 0 15px;
   }
   #portfolio .head_after::before {
            left: 0.1%;
   }
   #recent_blog {
    padding-right: 0;
    padding-left: 0;
   }
    #recent_blog .head_after {
        padding: 0 15px;
    }
     #recent_blog .head_after::before {
            left: 0.1%;
   }
    .blog_item {
        width: 50%;
    }

}

@media only screen and (max-width: 991px) {
    .sidebar_nav {
        display: none;
    }
    .section_right {
        width: 100%;
        float: none;
    }
    .section_styles {
        padding-left: 10px;
        padding-right: 10px;
    }
    .head_after::before {
        width: 0;
        height: 0;
    }
    #about {
        background-image: none;
    }
    .about_me {
        width: 100%;
    }
    .about_me_info {
        width: 100%;
    }
    .ul_about {
        width: 100%;
    }
    .ul_about li {
        justify-content: flex-start;
        text-align: center;
    }
    .ul_about li span {
        min-width: 160px;
    }
    .load_resume {
        min-width: 250px;
    }
    #skills {
        background: #FFF9FF;
    }
    #education {
        background-image: none;
    }
    .p_education {
        width: 100%;
    }
    .history {
        width: 100%;
    }
    .history_item .numb {
        left: -3%;
    }
    .employment_cont {
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .employment_item {
        width: 50%;
        margin-bottom: 40px;
    }
    .bag_employments {
        -ms-align-items: center;
        align-items: center;
    }
    .info_employments {
        margin-right: 0;
        width: 100%;
        padding: 0 15px;
    }
    .info_employments p {
        font-size: 20px;
        max-width: 800px;
        padding-bottom: 30px;
    }
    .imployments_number {
        width: 100%;
        margin: 0;
        padding: 0 15px;
    }
    .item {
        width: 50%;
    }
    .item span {
        color: #fff;
        display: block;
        padding-right: 15px;
    }
    .blog_item {
        width: 50%;
    }
    #recent_blog {
        padding-right: 0;
        padding-left: 0;
    }
    #recent_blog .container {
        padding-left: 0;
        padding-right: 0;
    }
    #recent_blog .head_after {
        padding: 0 15px;
    }
    .head_block {
        width: 80%;
    }
    .blog_border {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 35px;

    }
    .adress_block {
        width: 75%;
    }
    .contact_form {
        max-width: none;
        width: 100%;
    }
    .contact_form form {
        width: 100%;
    }
   .contact_form form input, #text_form {
    width: 100%;
   }
}

@media only screen and (min-width: 991px) {
    .header_mob_nav {
        display: none;
    }
}

@media only screen and (max-width:755px) {
    .skills_cont {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .skills_item {
        width: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        -ms-align-items: center;
        align-items: center;
    }

    .skills_item .fa-code {
        position: static;
        display: block;
        width: 20%;
    }
    .descr_skills {
        max-width: 400px;
    }
    .skills_number {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .js-counter::before {
        width: 0;
        height: 0;
    }
    .number_item {
        text-align: center;
        margin-bottom: 60px;
    }
    .number_item:last-child {
        margin-bottom: 0;
    }
    .history {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .history_item {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        width: 100%;
        padding-left: 0;
    }
    .history_item .numb {
        position: static;
        display: block;

        min-width: 90px;
    }
    .his_info {
        min-width: 300px;
    }
    .education_quote {
        width: 80%;
    }
    .employment_cont {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .employment_item {
        width: 80%;
        margin-bottom: 40px;
    }
    .imployments_number {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;
    }
    .item {
        width: 30%;
        text-align: center;
        margin-bottom: 40px;
    }
    .item:first-child {
        margin-bottom: 40px;
    }
    .item p {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: center;
    }
    .info_employments {
    	margin-top: 40px;
    }
    .item span {

        width: 100%;
        padding: 0;
    }


    .info_employments p {
    	text-align: center;
    }
    .blog_container {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    .blog_item {
        width: 100%;
    }
    .adress_block {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
        margin: auto;
    }
    .adress_item {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
        text-align: center;
        margin-bottom: 70px;
    }
    .adress_block .fa-map-marker,
    .adress_block .fa-envelope-o {
        margin-bottom: 15px;
        padding-right: 0;
    }
    .footer_container_block {
        max-width: none;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }
    .soc_buttons {
        margin-bottom: 80px;
        width: 60%;
        justify-content: space-between;
       
       
    }
    .soc_buttons a i {
        padding: 0;
    }
    .ul_portfolio {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
        -ms-align-items: center;
        align-items: center;
    }
   
   .link_portfolio_offset {
    margin: 0;
   }
   #portfolio .head_after {
    text-align: center;
   }
   #contact .head_after {
    text-align: center;
    margin-bottom: 90px;
   }
}

@media only screen and (max-width: 450px) {
    .employment_item {
        width: 100%;
        margin-bottom: 40px;
    }
    .soc_buttons {
        width: 90%;
    }
    .contact_form form .button_send {
        min-width: 20%;
    }
}
@media only screen and (max-width: 340px) {
    .ul_about li span {
        min-width: 120px;
    }
}