@font-face {
  font-family: 'Celdum-Bold';
  src: url('../fonts/CeldumBold/Celdum-Bold.eot');
  src: url('../fonts/CeldumBold/Celdum-Bold.woff2') format('woff2'),
       url('../fonts/CeldumBold/Celdum-Bold.woff') format('woff'),
       url('../fonts/CeldumBold/Celdum-Bold.ttf') format('truetype'),
       url('../fonts/CeldumBold/Celdum-Bold.svg#Celdum-Bold') format('svg'),
       url('../fonts/CeldumBold/Celdum-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Celdum-Medium';
  src: url('../fonts/CeldumMedium/Celdum-Medium.eot');
  src: url('../fonts/CeldumMedium/Celdum-Medium.woff2') format('woff2'),
       url('../fonts/CeldumMedium/Celdum-Medium.woff') format('woff'),
       url('../fonts/CeldumMedium/Celdum-Medium.ttf') format('truetype'),
       url('../fonts/CeldumMedium/Celdum-Medium.svg#Celdum-Medium') format('svg'),
       url('../fonts/CeldumMedium/Celdum-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../fonts/ProximaNovaLight/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNovaLight/ProximaNova-Light.woff2') format('woff2'),
       url('../fonts/ProximaNovaLight/ProximaNova-Light.woff') format('woff'),
       url('../fonts/ProximaNovaLight/ProximaNova-Light.ttf') format('truetype'),
       url('../fonts/ProximaNovaLight/ProximaNova-Light.svg#ProximaNova-Light') format('svg'),
       url('../fonts/ProximaNovaLight/ProximaNova-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNovaBold/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNovaBold/ProximaNova-Bold.woff2') format('woff2'),
       url('../fonts/ProximaNovaBold/ProximaNova-Bold.woff') format('woff'),
       url('../fonts/ProximaNovaBold/ProximaNova-Bold.ttf') format('truetype'),
       url('../fonts/ProximaNovaBold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
       url('../fonts/ProximaNovaBold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


