@media only screen and (max-width: 960px) { 
	.city_container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.city_items {
		max-width: none;
		width: 100%;
		margin-bottom: 40px;
	}
	.cont_city_img {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.cont_city_img img {
		max-width: 100%;
		margin: 0;
		margin-bottom: 20px;
	}
}

