* {
	padding: 0;
	margin: 0;
	
}
body {
	font-family: Verdana, sans-serif;
}
main {
	max-width: 900px;
	margin: auto;
	box-sizing: border-box;
}
.container {
	max-width: 850px;
	margin: auto;
	padding: 20px 15px;
}
header {
	width: 91.5%;
	background: orange;
	margin: auto;
	
}
.logo h1 {
     font-weight: lighter;
     margin-bottom: 20px;
     font-size: 35px;
}
.description {
	font-size: 15px;
}
.full_content {
	width: 91.5%;
	margin: auto;
	border-left: 1px solid silver;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
}
.city_container {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: space-between;


	
}
.city_items {
	width: 30%;

	
}
.city_items h2 {
	font-weight: lighter;
	margin-bottom: 20px;
	font-size: 27px;
}
.city_items .first {
	margin-bottom: 15px;
}
.cont_city_img {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: start;
	align-items: start;
	
}
.cont_city_img img {

	max-width: 50%;
	

}
.cont_city_img img:first-child {
margin-right: 10px;
}