* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Titillium Web', sans-serif;
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

body {
  font-family: 'Titillium Web', sans-serif;
}

p {
  margin: 0;
}

.header_top {
  width: 100%;
  background: #87509c;
}

.header_top_line {
  padding: 56px 0;
  margin-bottom: 75px;
  position: relative;
}

.header_fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 15;
  background: #7c4592;
  padding: 30px 0;
  margin: 0;
}

.nav_mobile {
  width: 100%;
  position: absolute;
  background: purple;
  left: 0;
  top: 100%;
  z-index: 20;
  display: none;
  margin: 0;
  padding: 0;
}

.nav_mobile ul {
  list-style: none;
  margin-bottom: 0;
}

.nav_mobile ul li a {
  color: #fff;
  display: block;
  padding: 20px 0;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  outline: none;
}

.nav_mobile ul li a:hover {
  background: #fff;
  color: purple;
  text-decoration: none;
}

.logo a {
  padding-left: 45px;
}

.bars {
  display: block;
  float: right;
}

.bars .fa-bars {
  color: #fff;
  font-size: 45px;
  padding-right: 45px;
}

.nav_menu nav {
  float: right;
}

.nav_menu nav a {
  display: inline-block;
  text-align: right;
  margin-right: 20px;
  padding: 10px;
  color: #fff;
  font-weight: lighter;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
  text-transform: uppercase;
}

.nav_menu nav a:hover {
  background: #643a79;
  border-radius: 7px;
}

.nav_active {
  background: #643a79;
  border-radius: 7px;
}

.one_screen {
  margin-bottom: 126px;
}

.one_screen .head_one_screen h1 {
  display: block;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  font-size: 42.16px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 60px;
}

.one_screen .head_one_screen {
  text-align: center;
}

.one_screen .head_one_screen:last-child {
  text-align: center;
  margin-bottom: 20px;
}

.button_page {
  display: block;
  width: 100%;
  padding: 20px 0;
  max-width: 300px;
  margin: auto;
  background: #eb7d4b;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 4px solid #c86a40;
  border-radius: 7px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button_page:hover {
  background: #fba178;
}

#about {
  width: 100%;
  background: #17c2a4;
  padding-top: 90px;
  padding-bottom: 130px;
  text-align: center;
}

.head_section {
  display: block;
  color: #3c4761;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 4px;
  text-align: center;
  position: relative;
  padding-bottom: 18px;
  margin-bottom: 20px;
}

.head_section::before {
  content: '';
  width: 80px;
  height: 6px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.head_p {
  font-size: 18px;
  text-align: center;
  max-width: 580px;
  margin: auto;
  font-weight: 300;
}

#about .head_section, #about .head_p {
  color: #fff;
}

.services_info_item {
  padding-top: 78px;
}

.services_info_item h3 {
  font-size: 24px;
  padding-top: 35px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.services_info_item p {
  display: block;
  font-size: 16px;
  color: #fff;
  font-weight: 200;
  text-align: center;
}

.img_cont {
  height: 130px;
}

#team {
  width: 100%;
  background: #e7f1f8;
  padding-top: 90px;
  padding-bottom: 125px;
}

#team .head_p {
  max-width: 650px;
}

.team_list {
  padding-top: 80px;
}

.team_items {
  text-align: center;
}

.team_items>a {
  display: block;
  width: 100%;
  max-width: 203px;
  background: #878787;
  border-radius: 50%;
  padding: 90px;
  margin: auto;
  margin-bottom: 35px;
}

.team_items h3, .team_items p {
  color: #27283d;
}

.team_items h3 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.team_items h4 {
  font-size: 16px;
  color: #30bae7;
  font-weight: 300;
  margin-bottom: 25px;
}

.team_items p {
  max-width: 190px;
  margin: auto;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 35px;
}

.social_contacts {
  width: 80%;
  margin: auto;
}

.social_contacts a {
  display: inline-block;
  margin: auto;
  margin-right: 9px;
  text-align: center;
  border-radius: 50%;
  background: #bdd1df;
}

.social_contacts a:last-child {
  margin: 0;
}

#skills {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 111px;
  background: #ffffff;
}

#skills .head_p {
  margin-bottom: 80px;
}

#skills {
  text-align: center;
}

.skills_items .dial {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  font-size: 100px;
}

.skills_items label {
  color: #3c4761;
  position: absolute;
  font-size: 32px;
  font-weight: 300;
  top: 40%;
  left: 63%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#dial_numb {
  font-size: 50px!important;
}

.skills_items h3 {
  font-weight: 700;
  color: #3c4761;
  text-transform: uppercase;
}

#work {
  width: 100%;
  background: #ffdd99;
  padding-top: 90px;
  padding-bottom: 109px;
}

#work .head_section {
  color: #393939;
}

#work .head_p {
  max-width: 500px;
  margin-bottom: 42px;
}

.buttons_controlls {
  text-align: center;
  margin-bottom: 64px;
}

.buttons_controlls .controlls {
  width: 100%;
  max-width: 87px;
  padding: 6px 0;
  border: none;
  background: #ebc985;
  color: #393939;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  margin-right: 6px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 1.2px;
}

.buttons_controlls .controlls:hover {
  background: #fff;
}

.buttons_controlls .controlls:last-child {
  margin: 0;
}

.buttons_controlls .button_controlls_active {
  background: #fff;
}

.portfolio_items_tab {
  text-align: center;
  margin-bottom: 63px;
}

.portfolio_items_tab img {
  max-width: 100%;
  margin-bottom: 25px;
}

.portfolio_items_tab p {
  color: #393939;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
}

.tabs_button {
  padding-top: 14px;
}

.tabs_button .button_page {
  background: #17c2a4;
  border-bottom: 4px solid #14a58c;
  text-decoration: none;
}

.tabs_button .button_page:hover {
  background: #0cd3b1;
  color: #fff;
}

.tabs_container {
  width: 100%;
}

#blog {
  width: 100%;
  background: #d74680;
  padding-top: 90px;
  padding-bottom: 95px;
}

#blog .head_section, #blog .head_p {
  color: #fff;
}

#blog .head_p {
  margin-bottom: 75px;
}

.about_us_items {
  margin-bottom: 150px;
}

.about_us_items:nth-child(3), .about_us_items:last-child {
  margin: 0;
}

.about_us_items .post {
  min-height: 80px;
}

.about_us_items .post p, .avtor .name_avtor {
  color: #fff;
}

.about_us_items .post p {
  font-style: italic;
  margin-bottom: 23px;
  font-size: 21px;
  padding-top: 7px;
  padding-left: 8px;
}

.avtor .name_avtor {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  padding-left: 19px;
}

.avtor .proffesion {
  display: block;
  color: #ffdd99;
  font-size: 18px;
  padding-left: 19px;
}

.about_us_items a {
  display: block;
  width: 100%;
  max-width: 60px;
  background: #787878;
  border-radius: 50%;
  padding: 50px;
  margin: auto;
  margin-bottom: 35px;
}

#contacts {
  width: 100%;
  background: #3c5499;
  padding-top: 90px;
  padding-bottom: 50px;
}

#contacts .head_section, #contacts .head_p {
  color: #fff;
  max-width: 100%;
}

#contacts .head_p {
  margin-bottom: 75px;
}

.footer {
  width: 100%;
  background: #344b8e;
}

.form_container #form {
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;


}
.input_form, .message {
  display: block;
  width: 100%;
  background: #273a71;
  color: #fff;
  font-size: 18px;
  margin: auto;
  padding: 15px 25px;
  border: none;

}
.input_form_item {
  width: 45%;
}
.input_form_item:nth-of-type(3) {
  width: 100%;
}
.input_form:first-child,
.input_form:nth-child(2) {
  width: 100%;
  max-width: 400px;
}
input.error {
  border: 1px solid #ff0000;
}
label.error {
  color: #ff0000;
  font-weight: bold;
}
.message {
  width: 100%;
  min-height: 200px;
  resize: none;
  margin-top: 30px;
}

.input_form::-webkit-input-placeholder {
  color: #fff;
}
.input_form::-webkit-input-placeholder {
  color: #fff;
}
.message::-webkit-input-placeholder {
  color: #fff;
}
.input_form::-moz-placeholder {
  color: #fff;
}
.message::-moz-placeholder {
  color: #fff;
}
/* Firefox 19+ */
.input_form:-moz-placeholder {
  color: #fff;
}
.message:-moz-placeholder {
  color: #fff;
}
/* Firefox 18- */
.input_form:-ms-input-placeholder {
  color: #fff;
}
.message:-ms-input-placeholder {
  color: #fff;
}
.send {
  width: 100%;
  padding-top: 65px;
}
.send  .button_page {
  text-transform: uppercase;
  background: #30bae7;
  border-bottom: 4px solid #299ec5;
}
.send .button_page:hover {
  background: #69c2e0;
}
.footer_item {
  width: 80%;
  margin: auto;
  padding: 30px 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.footer_anchor_items a {
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
  font-size: 18px;
}
.footer_anchor_items a:hover {
  color: #30bae7;
  text-decoration: none;
}
