@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	font-weight: 400;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

p {
	margin-bottom: 0;
}

a {
	&:hover {
		color: inherit;
	}
}

ul {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

.bold {
	font-weight: 600;
}


.container {
	max-width: 1214px;
	margin: 0 auto;
}

.header-top {
	padding-top: 18px;
	display: flex;
	margin-bottom: 250px;
}

.logo {
	margin-right: 135px;
}

.tel-text {
	font-size: 35px;
	color: $text;
}

.home-screen {
	width: 100%;

	background-image: url('../img/home-screen-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	max-width: 1700px;
	margin: auto;
	margin-bottom: -200px;
	position: relative;
	z-index: 9;

	&__container {
		max-width: 1428px;
	}

	&__wrap {
		display: flex;
	}

	&__left {
		width: 63.1%;
		padding-right: 70px;
		padding-bottom: 120px;
	}

	&__right {
		position: relative;

		width: 36.9%;
		padding-top: 95px;
		padding-bottom: 128px;
		padding-left: 65px;
		padding-right: 45px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		background-color: rgba(0, 0, 0, 0.749);
	}

	&__author-img {
		margin-bottom: 15px;
		margin-left: -23px;
	}


	&__quote {
		position: relative;
		
		padding-bottom: 25px;
		margin-bottom: 25px;
		max-width: 760px;

		font-size: 22px;
		font-weight: 400;
		color: #ececec;
		line-height: 30px;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;

			display: block;
			width: 41px;
			height: 2px;

			background-color: #ececec;
		}

	}

	&__top-title {
		font-weight: 400;
		font-size: 39px;
	}

	&__title-block {
		display: inline-block;

		font-size: 107px;
		font-family: 'BebasNeue';
		font-weight: bold;
		line-height: 97px;
		letter-spacing: 6px;

		&--last {
			position: relative;

			margin-left: 101px;
			padding-bottom: 25px;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;

				display: block;
				width: 43px;
				height: 10px;

				background-color: $text;
			}
		}
	}

	&__figure-wrap {
		position: absolute;
		top: 50%;
		left: 50%;

		width: 745px;
		height: 815px;

		transform: translate(-85%, -29%);
	}

	&__head-bottom {
		display: flex;
		flex-direction: column;
		align-items: center;

		text-align: center;
	}

	&__head-text {
		display: block;

		text-transform: uppercase;
		font-size: 22px;
		font-weight: bold;

		&:first-child {
			margin-bottom: 93px;
		}

		&--gold {
			color: #f4c581;
		}
	}

	

}

.adwantages-sect {
	position: relative;

	min-height: 830px;
	padding-top: 350px;
	padding-bottom: 290px;

	background-image: url('../img/two-sect.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
		z-index: 3;

		background-color: rgba(0, 0, 0, 0.4);
	}

	.container {
		position: relative;
		z-index: 5;
	}
}

.adwantages {
	display: flex;
	justify-content: center;

	&__item {
		width: calc(100% / 7);
		padding: 43px 15px;
		min-height: 456px;

		&:first-child {
			background-color: rgba(18, 24, 12, 0.9);
		}

		&:nth-child(2) {
			background-color: rgba(30, 35, 14, 0.9);
		}

		&:nth-child(3) {
			background-color: rgba(35, 39, 12, 0.9);
		}

		&:nth-child(4) {
			background-color: rgba(51, 54, 19, 0.9);
		}

		&:nth-child(5) {
			background-color: rgba(61, 69, 22, 0.9);
		}

		&:nth-child(6) {
			background-color: rgba(73, 79, 31, 0.9);
		}

		&:nth-child(7) {
			background-color: rgba(103, 109, 58, 0.9);
		}
	}

	&__head {
		position: relative;

		margin-bottom: 48px;

		font-size: 36px;
		font-weight: 600;

		border-bottom: 1px solid;

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -5px;

			display: block;
			width: 40px;
			height: 5px;

			background-color: $text;
		}
	}
}

.sertificate-sect,
.programs-sect {
	background-image: url('../img/three-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.programs-sect {
	padding-top: 60px;
	min-height: 588px;
}

.page-section {

	&__title {
		position: relative;

		padding-left: 45px;
		
		font-family: 'BebasNeue';
		text-transform: uppercase;
		font-weight: bold;
		font-size: 60px;
		color: #22250c;
		line-height: 50px;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;

			width: 8px;
			height: 100%;
			display: block;

			background-color: #595f24;
		}
	}

	&__title-block {
		display: block;
	}


}

.programs-sect {

	// &__container {
	// 	max-width: 1450px;
		
	// }

	&__title {
		margin-bottom: 95px;
	}
}

.programs {
	display: flex;
	align-items: flex-start;

	&__item {
	
	  width: 100%;
		max-width: 700px;
		min-height: 495px;
		padding-left: 48px;
		padding-right: 30px;
		padding-top: 20px;
		padding-bottom: 25px;

		color: #363636;
		font-weight: 400;
		font-size: 18px;

		background-color: $text;
		box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35);

		&:first-child {
			margin-bottom: -200px;
		}

		&:nth-child(2) {
			position: relative;
			z-index: 6;

			margin-top: -400px;
			margin-left: -105px;

			&::after {
				content: '';
				position: absolute;
				right: -125px;
				bottom: -195px;

				display: block;
				width: 220px;
				height: 430px;

				background-image: url('../img/three-posoh.png');
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			}
		}

		
	}

	&__head-wrap {
		display: flex;
		align-items: flex-start;
		margin-bottom: 20px;
	}

	&__big-numb {
		display: block;
		margin-right: 20px;

		font-size: 110px;
		color: #22250c;
		font-weight: 600;
		line-height: 105px;

	}

	&__title {
		font-size: 48px;
		line-height: 53px;
	}

	&__subtitle {
		width: 100%;
		padding: 0 1px;
		max-width: 102px;
		display: inline-block;

		font-weight: 200;
		text-align: center;
		color: $text;
		font-size: 16px;

		background-color: #595f24;
	}

	&__middle {
		margin-right: 20px;
	}

	&__desc {
		line-height: 26px;
	}

	&__text-block {
		display: block;
	}

	&__list {
		padding: 0;
		list-style: none;
		font-size: 23px;
	}

	&__list-item {
		line-height: 28px;
	}
}

.totals-sect {
	padding-top: 230px;
	padding-bottom: 60px;
	min-height: 497px;

	background-image: url('../img/four-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__text {
		font-size: 24px;
		font-weight: 400;

		&:first-child {
			margin-bottom: 40px;
		}
	}

	&__text-upper {
		text-transform: uppercase;
		font-size: 30px;
	}
}

.cource-info {
	padding: 100px 0;

	&__head-title {
		margin-bottom: 59px;
		padding-left: 15px;

		font-size: 30px;
		font-family: $default-font;
		font-weight: 600;
		line-height: 30px;
		letter-spacing: 1px;
	}

	&__subtext {
		font-size: 18px;
		font-weight: 200;
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
	}

	&__left {
		width: 100%;
		max-width: 400px;
		padding-right: 15px;
	}

	&__right {
		width: 100%;
		max-width: 915px;
	}

	&__text-bottom {
		font-size: 24px;
		color: #2f2f2f;
	}

	&__text-block {
		display: block;
	}
}

.blocks {

	&:not(:last-child) {
		margin-bottom: 45px;
	}

	&__item {
		margin-bottom: 55px;

		color: #595f24;
	}

	&__numb {
		font-weight: 600;
		font-size: 12px;
	}

	&__wrap-info {
		display: flex;
		align-items: flex-start;
	}

	&__numb {
		margin-right: 14px;

		font-size: 142px;
		font-weight: 600;
		line-height: 125px;
	}

	&__line {
		position: relative;

		display: block;
		width: 503px;
		height: 4px;

		background-color: #595f24;

		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: -4px;

			display: block;
			width: 12px;
			height: 12px;

			background-color: currentColor;
			border-radius: 50%;
		}
	}

	&__head-text {
		font-size: 56px;
		font-weight: 600;
		line-height: 55px;
		text-transform: uppercase;
	}

	&__subtext {
		font-size: 16px;
		color: #3c3c3c;
	}

	&__head-bottom-text {
		font-size: 21px;
		font-weight: 600;
		color: #3c3c3c;
		text-transform: uppercase;
	}


}

.sertificate-sect {
	padding: 90px 0;

	&__container {
		display: flex;
		justify-content: center;
	}

	&__wrap-info {
		width: 100%;
		max-width: 970px;
		padding: 15px;

		color: #333;
		text-align: center;

		border: 2px dotted #333;
	}

	&__text {
		font-size: 42px;
		font-weight: bold;

		&--accent {
			text-transform: uppercase;
			color: #ff8400;
		}
	}

}

.about-teacher {
	padding: 55px 0px;
	color: #331;
	text-align: center;

	&__cont {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		max-width: 680px;
		margin-bottom: 30px;

		font-size: 32px;
	}

	&__img {
		margin-bottom: 15px;

		box-shadow: 0 0 20px rgba(0,0,0,0.5);
	}

	&__text {
		margin-bottom: 30px;
		font-size: 24px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.page-footer {
	padding: 50px 0;
	padding-bottom: 20px;

	background-image: url('../img/footer.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;

	&__price-wrap {
		display: flex;
		margin-bottom: 80px;
	}

	&__price-left {
		width: 100%;
		max-width: 835px;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		margin-right: 25px;

		border-bottom: 5px solid $text;
	}

	&__price-text {
		margin-right: 18px;

		font-family: 'BebasNeue';
		font-weight: bold;
		font-size: 50px;
		line-height: 72px;
		text-transform: uppercase;
	}

	&__price-numb {		
		font-size: 110px;
		font-weight: 600;
		line-height: 95px;
	}

	&__price-right {
		display: flex;
		align-items: flex-end;
	}

	&__price-right-text {
		font-size: 110px;
		line-height: 110px;
		font-weight: bold;
	}

	&__quote-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 40px;

		text-align: center;
		font-size: 22px;
	}

	&__quote-text {
		max-width: 860px;
		font-weight: bold;
		margin-bottom: 0;
		line-height: 26px;
	}

	&__announcement {
		margin-bottom: 150px;

		text-align: center;
		text-transform: uppercase;
		font-size: 42px;
		font-weight: bold;
	}

	&__bottom {
		display: flex;
		justify-content: center;

		font-size: 14px;
	}

	&__link {
		display: block;
		margin-right: 5px;

		color: $text;
	}

	&__line {
		margin-right: 5px;
	}
}

@import "media"; // Always at the end
