* {
    margin: 0;
    padding: 0;
}
body {
    background: #8BDBD3;
    overflow: hidden;
}
.water_wirld_div {
    width: 560px;
   height: 445px;
    position: relative;
    margin: auto;
}
img {
    position: absolute;
}
.clouds {
    top: -7px;
    left: 150px;
  width: 350px;
  height: 260px;
    -webkit-animation: clouds-animate 9s ease-in infinite;
    -o-animation: clouds-animate 9s ease-in infinite;
    animation: clouds-animate 9s ease-in  infinite;
    z-index: 1;
    
}
.ship {
    width: 115px;
    height: 115px;
    height: auto;
    bottom: 40px;
    left: 14px;
    -webkit-animation: ship-animate 15s ease infinite;
    -o-animation: ship-animate 15s ease infinite;
    animation: ship-animate 15s ease infinite;
    z-index: 3;
}
.water {

    bottom: -5px;
    left: -13%;
    width: 130%;
    height: 55px;

}
.world {
    top: 98px;
    width: 100%;
    height: 350px;
    left: 1%;
}
@keyframes clouds-animate {
    0% {
        left: 0;

    }
    100% {
        left: 100%;
    }
}
@keyframes ship-animate {
    0% {
        left: 3%;

    }
    100% {
        left: 100%;
    }
}