@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/OpenSans.woff2') format('woff2'),
  url('../fonts/OpenSans/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansBold/OpenSansBold.woff2') format('woff2'),
  url('../fonts/OpenSansBold/OpenSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSansSemibold/OpenSansSemibold.woff2') format('woff2'),
  url('../fonts/OpenSansSemibold/OpenSansSemibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/ComfortaaBold/ComfortaaBold.woff2') format('woff2'),
  url('../fonts/ComfortaaBold/ComfortaaBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}