.head-title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
	
	&__text {
		position: relative;

		display: inline-block;
		padding: 0 45px;

		font-size: 48px;
		font-family: Bernier, sans-serif;
		color: $font-color;

		&--white {
			color: $main-color;
		}

		&::before, &::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(50%);

			width: 30px;
			height: 2px;
			display: block;

			background-color: $brand-color;
		}

		&::before {
			left: 0;
		}

		&::after {
			right: 0;
		}

	}
}