.nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 3;

	display: flex;
	justify-content: center;
	align-items: center;
	
	visibility: hidden;

	&::after, &::before {
		content: '';
		position: absolute;
		top: 0;

		width: 0;
		height: 100%;

		background-color: rgba(0, 0, 0, 0.8);

		transition: all .4s;
	}

	&::before {
		left: 0;
	}

	&::after {
		right: 0;
	}

	&__list {
		position: relative;
		z-index: 4;
	}

	&__item {
		opacity: 0;

		transform: scale3d(0, 0, 0);

		transition: transform 0.3s cubic-bezier(0.77, 0.6, 0.31, 1.4) 0.7s;

		will-change: transform;
	}


	&__link {
		position: relative;

		padding: 20px 35px;
		display: inline-block;

		font-size: 35px;
		letter-spacing: 5px;
		font-weight: 400;
		font-family: 'Bernier', sans-serif;

		text-transform: uppercase;

		@include media-min($screen-md) {
			font-size: 36px;
		}

		&::after, &::before {
			content: '';
			position: absolute;
			top: 50%;

			width: 0%;
			height: 3px;

			background-color: $brand-color;

			transform: translateY(-50%);

			transition: width .4s;
		}

		&::after {
			right: 7px;
		}

		&::before {
			left: 7px;
		}

		&:hover, &:active, &:focus {


			&::before, &::after {
				width: 20px;
			}
		}

	}

	&--open {
		visibility: visible;

		&::after, &::before {
			width: 50%;
		}

		.nav__item {
			opacity: 1;

			transform: scale3d(1, 1, 1);
		}
	}
}