.open-menu {
	position: relative;
	z-index: 5;

	&__btn {
		width: 47px;
		height: 48px;
		display: block;
		
		outline: 1px solid transparent;

		transition: outline $anim;


		&:focus {
			outline: 1px solid $brand-color;
		}
	}
	
	&__line {
		fill: none;
		stroke: $main-color;
		stroke-width: 4.4;
		stroke-linecap: round;
		
		transition: stroke-dasharray, stroke-dashoffset .5s;
	}

	&__top {
		stroke-dasharray: 40 130;
	}

	&__middle {
		stroke-dasharray: 40 140;
	}

	&__bottom {
		stroke-dasharray: 40 205;
	}

	&--active {

		.open-menu__top {
			stroke-dasharray: 75 130;
			stroke-dashoffset: -63px;
		}

		.open-menu__middle {
			stroke-dashoffset: -102px;
		}

		.open-menu__bottom {
			stroke-dashoffset: -86px;
			stroke-dasharray: 110 205;
		}

	}
}