.portfolio {

	&__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(235px, auto));
        grid-auto-rows: minmax(260px, auto); 
        grid-gap: 15px;

        @media all and (-ms-high-contrast: none), (-ms-contrast: active)  {
           display: flex;
           flex-direction: column;
           align-items: center;
           margin-left: -$gutter;
           margin-right: -$gutter;
           margin-bottom: -$gutter;
       }

       @include media-min($screen-xs) {
         flex-direction: row;
         flex-wrap: wrap;
     }
 }
}