.preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 6;

	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: $brand-color;
  opacity: 1;
  visibility: visible;

  transition: all $anim;

  &--done {
    opacity: 0;
    visibility: hidden;
  }

	&__wrap {
		width: calc(100% - 200px);
		padding: 0 100px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__circle {
    width: 17px;
		min-width: 17px;
		height: 17px;
		display: inline-block;
		margin-right: 30px;

		background-color: $main-color;
		border-radius: 50%;
		opacity: 0;

		&:last-child {
			margin-right: 0;
		}

	}
}

$key-frames-ms: 600ms, 500ms, 400ms, 300ms, 200ms, 100ms;

@each $current-ms in $key-frames-ms {
    $i: index($key-frames-ms, $current-ms);
    .preloader__wrap .preloader__circle:nth-child(#{$i}) {
      -webkit-animation: loader 3s $current-ms infinite ease-in-out;
      animation: loader 3s $current-ms infinite ease-in-out;
    }   
}

@keyframes loader {
  0% {
    opacity: 0;
    transform: translateX(-200px) scale(1);
  }
  33% {
    opacity: 1;
    transform: translateX(0px) scale(2);
  }
  66% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(200px) scale(2);
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}
