.skills {
	&__list {
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 13px 0px;
	}

	&__item {
		position: relative;

		display: flex;
		align-items: center;

		font-size: 15px;
		color: $font-color;

		&:not(:last-child) {
			margin-bottom: 5px;
		}

		@include media-min($screen-sm) {
			font-size: 19px;
		}
	}

	&__ico {
		display: block;
		min-width: 30px;
		width: 30px;
		height: 30px;
		margin-right: 15px;

		color: $brand-color;
	}

}