.social-list {
	display: flex;
	align-items: center;

	&__item {

		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	&__link {
		display: block;
		color: $main-color;

		&:hover, &:active, &:focus {
			color: $brand-color;

			outline: none;
		}
	}

	&__ico {
		display: block;
		width: 35px;
		height: 35px;

		transition: color $anim;
	}
}