@charset "UTF-8";

/* Переменные */


/* шаблоны */


/* миксины */

@media only screen and (max-width: 1012px) {
  .header_top_line nav {
    margin: 0;
  }
}

@media only screen and (min-width: 991px) {
  .mob_nav_button {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .portfolio-row .portfolio-item {
    width: 100%;
    margin-right: 0;
  }
  .portfolio-row .portfolio-item:nth-child(5) {
    -webkit-order: -1;
    -ms-order: -1;
    order: -1;
  }
  .foot_bottom .container {
    top: 70%;
  }
  .foot_pos {
    top: 65%;
  }
  .mob_nav_button i {
    margin-top: 10px;
  }
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navbar li {
    padding-bottom: 45px;
  }
  .navbar li:last-child {
    padding: 0;
  }
  #map .foot_pos {
    top: 60%;
  }
  .one_screen .cooperation .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .one_screen .cooperation .cooperation_items {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .mob_nav_button {
    display: block;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin-right: 10px;
  }
  header .header_top_line {
    position: relative;
  }
  .header_top_line {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 15px;
  }
  .header_top_line .logo {
    padding: 0;
  }
  .header_top_line .phones {
    padding: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .header_top_line nav {
    position: absolute;
    width: 100%;
    top: 100%;
    text-align: center;
    background: #fff;
    padding: 20px 0;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    left: -200vw;
    z-index: 600;
  }
  .header_top_line nav a {
    padding: 0;
    padding-bottom: 38px;
    font-size: 25px;
    color: #00A0E3;
  }
  .header_top_line nav a:last-child {
    padding: 0;
  }
  .header_top_line nav a::after {
    display: none;
  }
  .one_screen .services .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .one_screen .services .services_items {
    margin: 0;
    margin-bottom: 60px;
  }
  .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .description .description_items {
    width: 100%;
    max-width: none;
  }
  .description .description_items * {
    max-width: none;
  }
  .nav_footer_block  {
    max-width: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .nav_footer_block li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .nav_footer_block  li a {
    width: 100%;
    display: block;
  }
  .nav_footer_block .nav_button_footer {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
  .footer_line_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px 0;
  }
  .footer_line_item .domen {
    margin-bottom: 4px;
  }
  .footer_line_item .footer_phone {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }
  .footer_line_item .footer_phone:nth-of-type(1) {
    margin-bottom: 20px;
  }
  .footer_line_item .footer_mail {
    margin-bottom: 20px;
    padding: 0;
  }
  .list_clients .list_clients_items {
    width: 100%;
    border: 1px solid #000;
  }
  .list_clients .list_clients_items:nth-child(2),
  .list_clients .list_clients_items:nth-child(3) {
    margin-top: 0;
  }
  body .form_appl .inputs {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .send {
    font-size: 25px;
  }
  .one_screen h1 {
    font-size: 40px;
  }
  .header_top_line .phones {
    display: none;
  }
  .header_top_line .logo {
    text-align: left;
  }
  .header_top_line .logo p {
    width: auto;
    max-width: 230px;
    text-align: left;
  }
  .header_top_line .logo img {
    max-width: 80%;
  }
  .mob_nav_button {
    margin: 0;
  }
  body .form_appl h2 {
    font-size: 30px;
  }
}
