@media only screen and (max-width: 1200px) {
	.question_items {
		margin-bottom: 50px;
	}
	.img_adwant,
	.text_adwant {
		text-align: center;
	}
	.logo  {
		margin: auto;
		text-align: center;
		margin-bottom: 30px;
	}
	.descr_cont {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.descr_work_items {
		width: 30%;
		margin-bottom: 30px;
	}
	.descr_work_items:nth-child(4) {
		width: 50%;
	}
	.descr_work_items:nth-child(5) {
		width: 50%;
	}
	.prod::before {
		right: -7%;
	}



}
@media only screen and (max-width: 1035px) {
	.descr_cont {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}
	.descr_work_items {
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
	}
	.descr_img::before {
		display: none;


	}
}
@media only screen and (min-width: 991px) {
	.header_mob_nav {
		display: none;
	}
}
@media only screen and (max-width: 991px) {
	.product_description {
		text-align: center;
	}
	.product_description h2  .price_prod {
		float: none;
	}
	.product_description ul {
		text-align: center;
	}
	.product_info .header_contacts {
		float: none;
		margin: auto;
		text-align: center;
		margin-bottom: 40px;
	}
	.product_info .header_contacts .tel,
	.product_info .header_contacts .email {
		text-align: center;
		justify-content: center;
	}
	.product_info .header_contacts .to_order .border_red_button,
	 	.product_info .header_contacts .bg_red_button {
		width: auto;
		margin: auto;
	}
	.header_mob_nav {
		padding:15px;
		width: 100%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		-ms-align-items: center;
		align-items: center;
    	position: fixed;
    	top: 0;
    	left: 0;
    	border-bottom: 1px solid #000;
    	background: #fff;
    	z-index: 100;
    	margin: 0;
	}

	.header_mob_nav .logo {
		text-align: left;
		margin: 0;
		width: 70%;
	}
	.mob_nav {

		text-align: center;

	}
	.mob_navbar {
		width: 30%;
		text-align: right;
	}

	.adwantages_two_items img {
		margin-bottom: 15px;
	}
	.adwantages_two_head h3 {
		margin-bottom: 10px;
	}
	.one_screen {
		margin-top: 110px;
	}
	.adwantages_two_items {
		text-align: center;
		margin-bottom: 20px;

	}
	.adwantages_two_head p {
		width: auto;
		margin: auto;
	}
	footer .header_contacts .tel,
	footer .header_contacts .email {
		justify-content: center;
	}
	.footer_one_text,
	.footer_copyright {
		padding-top: 20px;
	}
	.product_circle_items {
		margin-bottom: 50px;
	}
	.descr_text {
		max-width: none;
		text-align: center;
	}
	.adw_two_img {
		float: none;
	}
	.header_top_line {
		display: none;
	}
	.logo img {
		min-height: 0;
		height: 80px;

	}


}
@media only screen and (max-width: 767px) {
	.footer_one_text,
	.footer_copyright {
		text-align: center;
		justify-content: center;
	}
	.footer_copyright {
		margin-bottom: 20px;
	}
	.h2_page {
		font-size: 25px;
	}
	.head_one_screen .head_line {
		font-size: 30px;
	}
	.head_one_screen h2 {
		font-size: 25px;
	}
	.head_price {
		width: 100%;
		max-width: none;
		font-size: 25px;
	}
}


}
