* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	max-width: 600px;
	margin: auto;
}
.block_items {
	width: 200px;
	height: 200px;
	float: left;

}
.red {
	background: #850000;

}
.block_items img {
	width: 150px;
	height: 160px;
	text-align: center;
	clear: both;
	display: block;
	margin: auto;
	margin-top: 20px;
	
}