@import 'vars';
@import 'fonts';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: $basic-font;
	color: $white;
	font-family: $default-font;
}

.wrapper {
	background-repeat: no-repeat;
	background-size: cover;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}

.button {
  position: relative;
  display: inline-block;
  height: 96px;
  line-height: 96px;
  font-size: 29px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Geometria', sans-serif;

  &__inner {
  	position: relative;
  	z-index: 2;
  	display: block;
  	width: 100%;
  	height: 100%;
    padding: 0 62px;
  	box-shadow: 0 3px 103px 55px #319c90;
    border-radius: 46px;
    background-image: linear-gradient( -180deg, #97e48f 0%, #71b36e 100%);
    transition: all .4s ease-in-out;
  }

  &::after {
  	content: '';
	position: absolute;
	left: 0;
	bottom: -5px;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: block;
    border-radius: 46px;
	background: #498254;
  }

  &:hover {
  	.button__inner {
  		box-shadow: 0 3px 50px 30px #319c90;
  	}
  }
}

.container {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}

.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	&__logo {
		width: 100%;
		max-width: 381px;
		margin-right: 30px;
		margin-top: 15px;
	}

	&__date-block {
		width: 100%;
		max-width: 250px;
	}

	&__date-box {
		border: 1px solid $white;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 40px;
		padding-bottom: 40px;

		&--top {
			border-top: 0;
			border-bottom: 0;
			padding: 0;
			line-height: 3.2em;
		}
	}

	&__date-top-text {
		font-size: 45px;
		text-transform: uppercase;
		font-family: inherit;
	}

	&__date-numb {
		margin-bottom: 10px;
		font-size: 149px;
		text-transform: uppercase;
		font-family: inherit;
		line-height: 0.7em;
	}

	&__date-text {
		font-size: 65px;
		text-transform: uppercase;
		font-family: inherit;
		line-height: 0.8em;
	}
}


.hero {
	position: relative;;
	padding-bottom: 170px;
	background-image: url('../img/hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&__author {
		display: block;
		margin-bottom: 50px;
		font-size: 70px;
		line-height: 1em;
	}

	&__title {
		margin-bottom: 50px;
		font-size: 124px;
		line-height: 1em;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		display: block;
		background: rgba(0, 0, 0, 0.2);
	}

	.container {
		position: relative;
		z-index: 2;
	}

	&__figure {
		display: none;
	}
}

.about {
	padding-top: 70px;
	padding-bottom: 40px;
	text-align: center;

	&__text {
		max-width: 917px;
		margin: 0 auto;
		font-family: 'Circe', sans-serif;
		font-weight: 300;
		line-height: 1.2em;
	}

	&__title {
		font-size: 30px;
		color: #89b7e0;
		text-transform: uppercase;

		&--two {
			color: $white;
			text-transform: initial;
			font-family: 'Circe', sans-serif;
			font-weight: 300;
			line-height: 1.1em;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 30px;
	}

	&__item {
		width: 100%;
		max-width: 800px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__head {
		margin-bottom: 35px;
	}

	&__item {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__img {
		margin-bottom: 30px;
	}

	&__item-title {
		font-family: 'Circe', sans-serif;
		font-weight: 300;
		font-size: 24px;
		text-transform: uppercase;
	}

	&__item-text {
		font-size: 24px;
		font-family: 'Circe', sans-serif;
		font-weight: 300;
		line-height: 1.2em;
	}
}

.whom {
	padding-top: 280px;
	background-repeat: no-repeat;

	&__bottom {
		padding-bottom: 86px;
		background: #f8f8f8;
	}

	&__title {
		margin-bottom: 40px;
		font-size: 48px;
		color: #4b637c;
		text-align: center;
		text-transform: uppercase;
	}

	&__wrap {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin: 0 -75px;
	}

	&__col {
		width: calc(100% / 3);
		padding: 0 75px;
	}

	&__item {
		margin: 0 auto;
		margin-bottom: 35px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: flex-start;
		max-width: 292px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__icon {
		margin-bottom: 23px;
	}

	&__text {
		font-size: 28px;
		color: #434343;
		font-family: 'Circe', sans-serif;
		font-weight: 300;
		line-height: 1.2em;
	}

	&__link {
		color: #4b637c;
		text-decoration: none;
	}
}

.programm {
	padding-top: 80px;
	padding-bottom: 158px;

	&__title {
		margin-bottom: 90px;
		font-size: 48px;
		text-align: center;
		text-transform: uppercase;
	}

	&__wrap {
		margin-bottom: 100px;
	}

	&__item {
		display: flex;
		align-items: flex-start;
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}

		&:hover {
			.programm__info {
				&::before {
					box-shadow: 0 0 0 10px #4b637c;
				}
			}
		}
	}

	&__date-wrap {
		flex-shrink: 0;
		max-width: 175px;
		width: 100%;
		padding-left: 30px;
	}

	time {
		display: block;
		font-size: 28px;
		font-family: 'Circe', sans-serif;
		font-weight: 700;
	}

	&__info {
		position: relative;
		padding-left: 75px;
		flex-grow: 1;
		font-family: 'Circe', sans-serif;

		&::before {
			position: absolute;
    		width: 7px;
    		height: 7px;
    		border-radius: 50%;
    		background: #fff;
    		content: "";
    		left: 0;
    		top: 16px;
    		transition: .3s ease-in-out;
		}

		&::after {
			position: absolute;
    		border-left: 1px dotted #fff;
    		width: 1px;
    		bottom: -1px;
    		content: "";
    		left: 3px;
    		top: 48px;
		}
	}

	&__subtitle {
		font-weight: 700;
		line-height: 1.1em;
	}

	&__text {
		font-weight: 400;
		line-height: 1.3em;
	}

	&__icon {
		margin: 0 auto;
	}
}

.author {
  padding: 40px 60px 60px;
  padding: 0 20px 70px 60px;
  margin: auto;
  display: flex;
  align-items: flex-end;
}

.author__media {
  min-width: 515px;
  font-size: 0;
}

.author__media-img {
   box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.author__info {
  padding-top: 50px;
  padding-left: 50px;
}

.author__info-heading {
  line-height: 1;
  text-transform: uppercase;
  color: #5f98b5;
  font-size: 48px;
}

.author__info-text {
  padding-top: 20px;
  color: #777;
  font-size: 23px;
  line-height: 1.3em;
  font-family: 'Circe', sans-serif;
}

.author__info-text--dot {
  color: #329AB8;
}

.author__media, .author__info {
  margin-top: -70px;
}

.objections {
  background: $white;
  min-height: 656px;
}

.objections__inner {
  max-width: 1130px;
}

.objections__author {
  margin-bottom: -220px;
  position: relative;
  top: 1px;
}

.objections__heading {
  padding-top: 130px;
  text-align: center;
  color: #fff;
}

.tariffs {
	position: relative;
	padding-top: 110px;

	&__title {
		margin-bottom: 110px;
		text-align: center;
		font-size: 48px;
	}

	&__wrap {
		display: flex;
		align-items: stretch;
		justify-content: center;
	}

	&__item {
		width: 100%;
		max-width: 465px;
		margin-right: 105px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;

		&:last-child {
			margin-right: 0;
		}
	}

	&__inner-content {
		padding-top: 45px;
		padding-bottom: 605px;
		padding-left: 45px;
		padding-right: 45px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__head {
		min-height: 116px;
		margin-bottom: 75px;
		text-align: center;
	}

	&__item-title {
		font-size: 30px;
	}

	&__price {
		font-size: 28px;
		font-family: 'Circe', sans-serif;
		font-weight: 400;
	}

	&__info {
		font-family: 'Circe', sans-serif;
		font-weight: 400;
	}

	&__info-title {
		line-height: 1.3em;
		text-transform: uppercase;
	}

	&__list {
		list-style-type: none;
	}

	&__service {
		position: relative;
		padding-left: 18px;
		line-height: 1.4em;

		&::after {
			content: '*';
			position: absolute;
			left: 0;
			top: 2px;
			color: $white;
		}
	}

	.button {
		margin: 0 auto;
		margin-top: 60px;
		font-size: 20px;
		height: 70px;
		line-height: 70px;

		&__inner {
		   padding: 0 51px;
		}
	}


	&__bottom-text {
		margin-top: 38px;
		font-family: 'Circe', sans-serif;
		font-weight: 400;
		line-height: 1.3em;
	}
}

.bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-top: 240px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center top;

	&__text {
		font-family: 'Circe', sans-serif;
		font-weight: 400;
		font-size: 30px;
		color: #222222;
		line-height: 1.2em;
	}

	&__upper {
		text-transform: uppercase;
	}

	&__bg {
		padding-bottom: 120px;
		background: #f8f8f8;
	}
}

@import 'media';