* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a:hover {
  text-decoration: none; }

h2 {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }
