@media only screen and (max-width: 750px) {
    .container_item  {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        flex-direction: column;
    }
    aside:first-child {
        width: 100%;
    }
    .aside_left ul li {
       
        width: 100%;
    }
    .aside_right {
        
        width: 100%;
    }
    article {
        width: 100%;
    	margin-right: 0;
    	margin-left: 0;
    }
}