@import "fonts"
@import "_libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	margin: 0
	padding: 0
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

.clearfix
	&:after
		content: ''
		display: table-cell
		clear: both
a, a:hover, a:active
	text-decoration: none
body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%
	overflow-x: hidden

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

body button
	outline: none
.text-center
	text-align: center

::selection
	background-color: darkred
	color: #fff

.container
	width: 100%
	max-width: 360px
	margin: auto
	padding: 0 7px

.header-top
	background-color: $dark
	margin-bottom: 25px
	.container
		padding: 0 20px
.header-top-line
	padding-top: 3px
	padding-bottom: 7px
	@extend .flex-full
.header-top-one-box, .header-top-two-box
	display: flex
	align-items: center
.notification
	margin-right: 24px
	img
		height: 20.95px
.settings
	img
		height: 18.94px
.hamburger
	padding: 0
	margin-top: 7px
.header-top-line_logo
	h2
		text-transform: lowercase
		font-weight: 400
		color: $white
		font-size: 27px
		font-family: 'ArTarumianKamar'
		font-weight: 400
		span
			font-size: 19px
			color: #3cbf9a
.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
	width: 19px
	height: 2px
	background-color: $white
	border-radius: 0
.hamburger-box
	height: 13px
.hamburger-inner::before
	top: -5px
html body .hamburger-inner::after
	top: -10px!important
.hamburger--collapse.is-active .hamburger-inner
	top: 17px
.nav-tabs
	.container
		max-width: none
html body ul .tabs-navigation-active
	p
		color: #000000
	&::before
		content: ''
		display: block
		width: 100%
		height: 4px
		position: absolute
		left: 0
		bottom: 0
		background-color: #3cbf9a
.tabs-navigation
	width: 600px
	border-bottom: 1px solid #ededed
	ul
		width: 600px
		li
			text-align: center
			display: inline-block
			min-width: 94px
			padding-bottom: 20px
			@include trs(0.3s)
			position: relative
			margin-right: 7px
			cursor: pointer
			&:hover
				@extend .tabs-navigation-active
			img
				@extend .img-responsive
				margin: auto
				margin-bottom: 6px
				width: 36px
			p
				font-size: 12px
				color: rgba(0,0,0,0.3)
.financial-news-agency-content
	background: #F9FAFA
	padding-top: 12px
.financial-news-agency-head
	text-align: center
	padding: 12px 15px
	position: relative
	background-color: $white
	margin-bottom: 12px
	padding-top: 7px
	h3
		color: #000000
		font-weight: 200
		font-size: 17px
		padding-right: 7px
	h4
		color: rgba(0,0,0,0.3)
		font-weight: 400
		font-size: 12px
.advertising-link
	position: absolute
	right: 0
	top: 0
	color: #34495e
	font-weight: 700
	text-align: center
	@include border(#ececec)
	background-color: $white
	font-size: 8px
.exchange-rates-content, .exchange-item
	@extend .flex-full
.exchange-rates-wrap
	@extend .flex-full
	width: 1300px
	justify-content: flex-start
	margin-bottom: 12px
.exchange-rates-content
	flex-wrap: wrap
	padding: 20px 13px
	@include border(#e1e1e1)
	border-radius: 10px
	background-color: $white
	max-width: 332px
.exchange-item
	width: calc(100% / 2)
	margin-bottom: 21px
	&:nth-child(3), &:last-child
		margin-bottom: 0
.currency-name
	display: flex
	align-items: center
	img
		@extend .img-responsive
		width: 14px
		margin-right: 11px
	h3
		font-size: 14px
		font-weight: 400
		color: #000
.exchange-item
	max-width: 130px
.green-carrency
	color: #16702E
.red-carrency
	color: #BC1D1D
.dollar-value
	color: #8B8B8B
.currency-digits
	p
		font-size: 14px
html body .wrapper .table-exchange .light-bg
	background-color: #34495e
	td
		border-right: 1px solid #2e3e4e
		height: 64px
		&:last-child
			border: none

.table-exchange
	width: 100%
	max-width: 350px
	border-radius: 4px
	background-color: #2e3e4e
	text-align: center
	color: $white
	border-collapse: collapse
	margin-bottom: 19px
	.bottom-col
		padding: 10px 0
		font-size: 12px
	.head-table-exchange
		border-bottom: 1px solid #34495e
		th
			padding: 20px 0
		p
			font-size: 15px
			font-weight: 400
		span
			color: #1ABC9B
	tbody
		tr
		 td
		 	width: calc(100% / 3)
		 	border-right: 1px solid #34495e
		 	line-height: 1
		 	&:not(.bottom-col)
		 		height: 74px
		 	&:last-child
		 		border: none
		 	.currency-title
		 		font-size: 20px
		 		color: #38A69B
		 		text-transform: uppercase
		 		font-weight: 700
		 	h2
		 		font-weight: 700
		 		font-size: 20px
		 	.bank-name
		 		font-size: 10px
		 	.more-info
		 		color: #38A69B
		 		font-size: 11px
#categories-scroll .mCSB_scrollTools, #exchange-rates-scroll .mCSB_scrollTools
	background-color: transparent 
	width: 0px
	height: 0px
.mCSB_horizontal.mCSB_inside > .mCSB_container
	margin-right: 0
  margin-bottom: 0px !important
.advertising-box
	min-height: 68px
	position: relative
	background-color: #ececec
#exchange-rates-table-info
	padding-top: 24px
	padding-bottom: 17px
	h2
		text-align: center
		font-weight: 400
		margin-bottom: 26px
html body .filter-active-btn
	@include border(#FF7700)
	border-width: 2px
	position: relative
	&::after
		content: ''
		width: 16px
		height: 13px
		display: block
		position: absolute
		right: 0
		bottom: 0
		@include bgi('../img/Group-755_2.svg', cover, bottom)
.filter-city
	margin-bottom: 26px
	width: 900px
.filter-btn
	font-size: 14px
	text-align: center
	@include border(#D4D5D6)
	border-radius: 4px
	background-color: $white
	padding: 13px
	margin-right: 7px
	&:hover
		@extend .filter-active-btn
.filter-select
	width: 100%
	max-width: 149px
.select-wrap
	border-radius: 3px
	@include border(#dcdcdc)
.selectric
	width: 149px
	background-color: $white
	float: left
	@extend .clearfix
.select-icon
	img
		max-width: 18px
		float: left
.selectric .button
	background-color: $white
.selectric .button:after
	content: '\f107'
	border: none
	width: 12px
	height: 12px
	font: normal normal normal 14px/1 FontAwesome
@import "media" // Всегда в конце
