/* reset */
$min-width: 320px; 
$max-width: 1170px; 
$base-bg: #f9f9f9; 
$white:   #ffffff;
$base-font-size: 13px; 
$base-line-height: 18px; 
$base-font-family: 'OpenSans', sans-serif; 

/* main variables */

//text, titles
$product-font: #282828;
$text-color: #000;
$title-color: #282828;

$font-size-h1: 30px;
$line-height-h1: 46px;
$font-size-h2: 32px;
$line-height-h2: 37px;
$font-size-h3: 16px;
$line-height-h3: 32px;